<div fxLayout="column" class="selectFriend">
  <div fxFlex style="padding:20px 0 0 20px"><label>选择接收者</label></div>
  <div fxFlex style="height:40px;">
    <mat-form-field fxFlex="100" floatLabel="never" style="height:40px;">
      <input type="text" tabindex="-1" matInput [(ngModel)]="filterFriend" (ngModelChange)="filter()" placeholder="搜索" style="font-size:14px;margin: 0 0 5px 0;width:274px; padding-left: 20px;box-sizing: border-box " />
    </mat-form-field>
  </div>
  <div class="scrollbar" style=" max-height: 400px;">
    <mat-selection-list class="friend-list" #friendSelect disableRipple color="primary">
      <mat-list-option class="friend-list-item" *ngFor="let friend of friendMap | keyvalue" [value]="friend.value">
        <mat-icon mat-list-icon class="friend-avatar">
          <img [src]="friend.value.base64Avatar || friend.value.userAvatarFileName" alt="">
        </mat-icon>
        <div mat-line style="font-size: 14px">{{friend.value.nickname}}</div>
        <div mat-line *ngIf="!!friend.value.onlineStatus === true" style="color: #0091FF;font-size: 12px; padding-bottom: 3px;">[在线]</div>
        <div mat-line *ngIf="!!friend.value.onlineStatus === false" style="color: #CCCCCC; font-size: 12px">[离线]</div>
      </mat-list-option>
    </mat-selection-list>
  </div>
  <div fxFlex fxFlex="40px">
    <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10">
      <button nz-button nzType="link" (click)="cancel()">取消</button>
      <button nz-button nzType="link" (click)="nextStep(friendSelect)">发送</button>
    </div>
  </div>
</div>
