<!--<ng-template [ngIf]="replyMsg.msgType === msgType.TYPE_TEXT">-->
<!--  &lt;!&ndash;原始消息是文本&ndash;&gt;-->
<!--  <p>{{replyMsg.reply}}</p>-->
<!--  <p>{{replyMsg.msg}}</p>-->
<!--  <p>{{replyMsg.msgType}}</p>-->
<!--</ng-template>-->

<!--<ng-template [ngIf]="replyMsg.msgType !== 0">-->
<!--  &lt;!&ndash;原始消息是文件&ndash;&gt;-->
<!--  <p>{{messageType[replyMsg.msgType]}}</p>-->
<!--  <p>{{originContent.text}}</p>-->
<!--  <p>{{replyMsg.msg}}</p>-->
<!--  <p>{{replyMsg.msgType}}</p>-->
<!--</ng-template>-->

<!--本文，图片，视频，语音, 名片-->

<!--{{chatMsg | json}}-->
<!--{{replyMsg | json}}-->

<div fxLayout="column" fxLayoutGap="8px" *ngIf="chatMsg">
  <div class="quote-message" fxLayout="row">
    <div fxFlex="38px" class="quote-thumbnail" *ngIf="replyMsg.msgType === msgType.TYPE_IMAGE">
      <img [src]="replyMsg.reply" alt="">
    </div>
    <div fxFlex="38px" class="quote-thumbnail" *ngIf="replyMsg.msgType === msgType.TYPE_SHORTVIDEO">
      <div fxLayoutAlign="center center" fxFlexFill class="filetype">
      <span *ngIf="originContent">
        <img [src]="originContent.videoCoverPath" class="video-cover" alt="">
      </span>
      </div>
    </div>
    <div fxFlex *ngIf="replyMsg.msgType === msgType.TYPE_SHORTVIDEO" class="quote-content">
      <div class="quote-title">
        {{replyMsg.userName}}
      </div>
      <div class="quote-reply" *ngIf="originContent">
        {{messageType[replyMsg.msgType]}}
      </div>
    </div>

    <div fxFlex *ngIf="replyMsg.msgType === msgType.TYPE_TEXT" class="quote-content">
      <div class="quote-title">
        {{replyMsg.userName}}
      </div>
      <div class="quote-reply">
        {{replyMsg.reply}}
      </div>
    </div>

    <div fxFlex *ngIf="replyMsg.msgType === msgType.TYPE_CONTACT" class="quote-content">
      <div class="quote-title">
        {{replyMsg.userName}}
      </div>
      <div class="quote-reply" fxLayoutAlign="center center">
        <app-message-contact [chatMsg]="contactEntity"></app-message-contact>
      </div>
    </div>

    <div fxFlex *ngIf="replyMsg.msgType === msgType.TYPE_IMAGE" class="quote-content">
      <div class="quote-title">
        {{replyMsg.userName}}
      </div>
      <div class="quote-reply">
        {{messageType[replyMsg.msgType]}}
      </div>
    </div>
  </div>
  <div fxLayout="row">
    <div fxFlex class="quote-content">
      <div class="quote-reply">
        <ng-template [ngIf]="msgParse === null">
         {{replyContent.msgContent}}
        </ng-template>
        <ng-template [ngIf]="msgParse">
          <div *ngIf="msgParse.msgType === msgType.TYPE_TEXT">{{msgParse.msgContent}}</div>
          <div  *ngIf="msgParse.msgType === msgType.TYPE_IMAGE">
            <img [src]="msgParse.msgContent" (click)="previewImage(msgParse.msgContent)" alt="" class="image-message">
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
