.qrcode{
    img{
        width:250px;
        height:250px; 
    }
}

.qrcode-box{
    display:flex;

    img{
        width:250px;
        height:250px;
    }
}

/*.my-signature-component{
    .martop1{
        margin-top:20px;
    }

    .martop2{
        margin-top:25px;
        text-align:right;
    }

    .txtcom{
        border:none;
        outline:none;
        border-bottom:1px solid #dddddd;
    }

    .btncancel{
        padding-left:0px;
        padding-right:0px;
    }

    .btnsave{
        padding-left:0px;
        padding-right:0px;
        margin-left:20px;
    }

    img{
        width:250px;
        height:250px;
    }
}*/