<h2 mat-dialog-title>我的二维码</h2>
<mat-dialog-content class="mat-typography">
    <div>
        <ngx-qrcode [value]="value" cssClass="qrcode-box" qrc-errorCorrectionLevel="L"></ngx-qrcode>        
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close tabindex="-1">关闭</button>
</mat-dialog-actions>

<!--<div fxLayout="column" class="my-signature-component">
    <div>
        <label>我的二维码</label>
    </div>
    <div>
        <div class="martop1">
            <ngx-qrcode [value]="value"
                        qrc-class="aclass"
                        cssClass="qrcode-box" style="width:250px;height:250px;"
                        qrc-errorCorrectionLevel="L">
            </ngx-qrcode>
        </div>
        <div class="martop2">
            <button nz-button nzType="link" class="btncancel" mat-dialog-close>取消</button>            
        </div>
    </div>
</div>-->

