.title-bar-container {
  padding-right: 20px;
  background: #F1F1F1;

  &.background {
    background: #F1F1F1;
  }
  &.sticky-top {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
  }

  .title-bar {
    height: 30px;
    width: 100%;
    box-sizing: border-box;
    -webkit-user-select: none;
    -webkit-app-region: drag;
  }

  .action-button .action {
    -webkit-app-region: no-drag;
    cursor: pointer;
    width: 14px !important;
    height: 14px !important;
    img {
      width: 14px;
      height: 14px;
    }
  }
}

#dbug {
  position: fixed;
  z-index: 9999;
  bottom: 4px;
  left: 4px;
}
