<div fxLayout="column" fxLayoutAlign="stretch space-between" fxFlexFill>
  <div fxFlex>
    <div mat-dialog-title>{{data.title || '确定执行这个操作吗？'}}</div>
    <div>{{data.text || '确定执行这个操作吗？'}}</div>
  </div>
  <div fxFlex fxLayoutAlign="end space-between">
    <mat-dialog-actions>
      <button mat-button (click)="cancel()" cdkFocusInitial color="primary">{{data.cancel || '取消'}}</button>
      <button mat-button (click)="confirm()" cdkFocusInitial color="primary">{{data.confirm || '确定'}}</button>
    </mat-dialog-actions>
  </div>
</div>
