.container {
  background: #f6f7f9;
}
#chatting-panel {
  .message-entity-item {
    position: relative;
    padding: 10px;
    background: white;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0px 6px 6px 6px;
    word-break: break-word;
  }
  .self-message .message-entity-item {
    background: #CCE4FF;
    border-radius: 6px 0px 6px 6px;
  }
}

.message-container {
  overflow: hidden;
  .message-time {
    font-size: 12px;
    color: #888888;
    visibility: hidden;
  }
}

.message-container:hover {
  .message-time {
    visibility: visible;
  }
}

.quote-area {
  background: #f1eded;
  font-weight: 400;

  .quote-area-text {
    margin: 10px 0;
    padding-left: 10px;
    border-left: 2px solid #0091FF;
  }
  .quote-title {
    height: 20px;
    font-size: 14px;
    color: #0091FF;
  }
  .quote-message {
    font-size: 12px;
    color: #888888;
  }
}
