.chatting-panel-container {
  position: relative;

  .loading-message {
    transition: all 0.4s ease-out;
    width: 100%;
    height: 40px;
  }
}
.container {
  background: #f6f7f9;
}
.newWin{ padding:0}
.chatting-body {
  position: relative;

  .down-arrow {
    position: absolute;
    right: 10px;
    bottom: 100px;
    z-index: 999;
  }
  .group-tags-container {
    overflow: hidden;
  }
  .at-me-sheet {
    background: #d9d9d9;
    font-size: 12px;
    user-select: none;
  }

  .gnotice-sheet{
      background-color:#fff3dc;
      user-select:none;
      font-size:16px;
      color:#ff9b35;
  }
}

.moving-group-info {
    background-color: #fff3dc;
    padding: 0px 20px;
    line-height: 36px;
    height: 36px;
    overflow: hidden;
    position: relative;

    .icon-tip{
        position:absolute;
        left:10px;
        top:8px;
        width:18px;
    }

    .box {
        position: absolute;
        left: 33px;
        top: 0;
        right: 33px;
        bottom: 0;
        color: #ff9b35;
        margin: 0 auto;
        overflow: hidden;
    }

    .icon-delete{
        position:absolute;
        right:10px;
        top:8px;
        width:18px;
    }

    .animate {
        padding-left: 20px;
        font-size: 14px;
        display: inline-block;
        white-space: nowrap;
        margin: 0;
    }

    /* Ⱥ��鶯�� */
    .animate-0 {
        animation: 10s wordsLoop linear infinite normal;
    }

    .animate-1 {
        animation: 20s wordsLoop linear infinite normal;
    }

    .animate-2 {
        animation: 30s wordsLoop linear infinite normal;
    }

    .animate-3 {
        animation: 80s wordsLoop linear infinite normal;
    }
}

@keyframes wordsLoop {
    0% {
        transform: translateX(200px);
        -webkit-transform: translateX(200px);
    }

    100% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
}

@-webkit-keyframes wordsLoop {
    0% {
        transform: translateX(200px);
        -webkit-transform: translateX(200px);
    }

    100% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
}

#chatting-panel {
  overflow-y: scroll;
  .message-entity {
    position: relative;
    background: red;
  }
  .group-avatar {
    position: relative
  }
}
.groupName{
  font-size: 12px;
  color: #686868;
  padding-bottom: 2px;
}
.message-status {
  font-size: 12px;
  color: #686868;
  height: 16px;
}

.message-container {
  overflow: hidden;
  margin-top: 15px;

  .message-time {
    font-size: 12px;
    color: #888888;
    visibility: hidden;
    margin-right: 50px;
  }
}

.message-container:hover {
  .message-time {
    visibility: visible;
  }
}

.quote-area {
  background: #f1eded;
  font-weight: 400;

  .quote-area-text {
    margin: 10px 0;
    padding-left: 6px;
    border-left: 2px solid #0091FF;

    .quote-area-preview {
      img, video {
        width: 40px;
        height: 40px;
        margin-right: 6px;
        object-fit: cover;
      }
    }
  }
  .quote-title {
    height: 20px;
    font-size: 12px;
    color: #686868;
  }
  .quote-message {
    font-size: 12px;
    color: #888888;
  }
}

.chatting-header {
  .chatting-title {
    font-size: 16px;
    color: #383838;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .chatting-subtitle {
    font-size: 12px;
    color: #888888;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

::ng-deep {
  #chatting-panel {
    .mat-card-subtitle, .mat-card-content {
      font-size: 12px;
    }
  }
  .video-cover {
    width: 38px;
    height: 42px;
    border-radius: 4px;
    object-fit: cover;
  }

}

.input-area-container {
  position: relative;

  .silence-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 1%);
    z-index: 99999;
    font-weight: 500;
  }
}
