<mat-drawer-container fxFill autosize class="container">
  <mat-drawer #chattingSetting mode="side" position="end">
    <div fxFlex="280px">
      <mat-card class="mat-elevation-z0" *ngIf="currentChat">
        <!--判断是单聊还是群聊-->
        <!--单聊-->
        <app-chatting-setting *ngIf="currentChat.metadata.chatType === 'friend'" [currentChat]="currentChat"></app-chatting-setting>
        <!--群聊-->
        <app-group-chatting-setting *ngIf="currentChat.metadata.chatType === 'group'" [currentChat]="currentChat"></app-group-chatting-setting>
      </mat-card>
    </div>
  </mat-drawer>

    <!--语音聊天-->
    <mat-drawer #chattingVoice mode="side" position="end">
        <div fxFlex="280px">
            <mat-card class="mat-elevation-z0" *ngIf="currentChat">
                <app-chatting-voice #appChatingVoice [currentChat]="currentChat"></app-chatting-voice>
            </mat-card>
        </div>
    </mat-drawer>

  <mat-drawer-content>
    <ng-template [ngIf]="!currentChat">
      <div fxFlexFill fxLayoutAlign="center center">
        <empty-data></empty-data>
      </div>
    </ng-template>
    <div fxLayout="column" *ngIf="currentChat" fxFlexFill>
      <div fxLayout="column" fxFlex="60px" class="chatting-header border1px bottom">
        <div fxLayout="row" fxFlexFill [fxShow]="selectMessage">
          <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
            <div fxFlex="0 0 calc(100%-40px)">
              <div fxFlex fxLayoutGap="20px">
                <button mat-flat-button color="primary"
                        [disabled]="this.selectMessageList.length === 0"
                        (click)="transmitSelectMessage()">转发 {{selectMessageList.length}}</button>
                <button mat-flat-button color="primary"
                        [disabled]="this.selectMessageList.length === 0"
                        (click)="deleteSelectMessage()">删除 {{selectMessageList.length}}</button>
              </div>
              <div fxFlex fxLayoutAlign="end center">
                <button mat-button color="primary" (click)="cancelSelectMessage()">取消</button>
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="row" fxFlexFill [fxShow]="selectMessage === false">
          <div fxFlex="60">
            <div fxLayout="row" fxFlexFill>
              <div fxFlex="60px" fxLayoutAlign="center center">
                <img [src]="currentChat.alarmItem.avatar" mat-card-avatar alt="">
              </div>
              <div fxFlex="calc(100% - 60px)">
                <div fxLayout="column" fxLayoutAlign="center start" fxFlexFill>
                  <div fxFlex="40px" fxLayoutAlign="center center" style="width: 100%">
                    <div fxLayout="column" style="width: 100%">
                      <div fxFlex="22px" class="chatting-title">
                        {{currentChat.alarmItem.title}}
                      </div>
                      <div fxFlex="18px" class="chatting-subtitle" *ngIf="currentChatSubtitle">
                        {{currentChatSubtitle}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div fxFlex="40" fxLayoutAlign="end center" style="padding-right: 20px;">
            <div fxLayout="row" fxLayoutGap="1px">
              <button mat-icon-button (click)="searching = !searching">
                <mat-icon class="hover-icon">
                  <img class="icon" [src]="searchIcon" alt="">
                  <img class="icon-active" [src]="searchActiveIcon" alt="">
                </mat-icon>
              </button>

              <!--点击按钮：语音聊天-->
              <button mat-icon-button  (click)="startVoice(chattingVoice);">
                <mat-icon class="hover-icon">
                  <img class="icon" [src]="voiceIcon" alt="">
                  <img class="icon-active" [src]="voiceActiveIcon" alt="">
                </mat-icon>
              </button>
              <button mat-icon-button (click)="chattingSetting.toggle()">
                <mat-icon class="hover-icon">
                  <img class="icon" [src]="settingIcon" alt="">
                  <img class="icon-active" [src]="settingActiveIcon" alt="">
                </mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div [fxHide]="searching === false" fxLayout="column" fxFlex="calc(100% - 60px)">
        <app-search-chatting fxFlexFill [chatting]="currentChat"></app-search-chatting>
      </div>
      <div [fxHide]="searching === true" fxLayout="column" fxFlex="calc(100% - 60px)" class="chatting-body">
        <div fxFlex id="chatting-panel" style="overflow-y: scroll">
          <mat-card class="mat-elevation-z0 transparent">
            <mat-card-content *ngIf="chatMsgEntityList">
              <div fxLayout="column" fxLayoutGap="20px" class="chatting-panel-container" #chattingContainer>
                <div fxLayout="row" *ngFor="let chat of chatMsgEntityList"
                     (click)="selectMessage ? collectMessage(chat, msgCheckbox) : false"
                     [fxLayoutAlign]="chat.uid.toString() === localUserInfo.userId.toString() ? 'space-between' : 'start'"
                     [ngClass]="{'self-message': chat.uid.toString() === localUserInfo.userId.toString()}">
                  <div [fxFlex]="selectMessage ? '35px' : '1px'" fxLayoutAlign="start center">
                    <div [fxShow]="selectMessage">
                      <mat-checkbox #msgCheckbox disableRipple color="primary" (change)="collectMessage(chat, msgCheckbox)"></mat-checkbox>
                    </div>
                  </div>
                  <div fxFlex="65"
                       [fxLayoutAlign]="chat.uid.toString() === localUserInfo.userId.toString() ? 'end' : 'start'">
                    <div fxLayout="column" class="message-container" fxLayoutGap="5px"
                         [fxLayoutAlign]="chat.uid.toString() === localUserInfo.userId.toString() ? 'end end' : 'start'">
                      <div class="message-time">
                        {{formatDate(chat.date, 'M-dd hh:m')}}
                      </div>
                      <!--[fxLayoutAlign]="chat.uid === localUserInfo.userId ? 'end' : 'start'"-->
                      <div [fxLayout]="chat.uid.toString() === localUserInfo.userId.toString() ? 'row-reverse' : 'row'" fxLayoutGap="10px">
                        <div fxFlex="40px" *ngIf="currentChat.metadata.chatType === 'group'">
                          <img (contextmenu)="contextMenuForAvatar($event, createPlanMenuTriggerAvatar, avatarSpan, chat)"
                               src="https://material.angular.io/assets/img/examples/shiba2.jpg" mat-card-avatar alt="">
                          <!--增加头像上的右键功能-->
                          <span #createPlanMenuTriggerAvatar="matMenuTrigger" #avatarSpan [matMenuTriggerFor]="contextmenuForAvatar"></span>
                          <mat-menu #contextmenuForAvatar="matMenu">
                            <button mat-menu-item *ngFor="let item of contextMenuAvatar"
                                    (click)="item.action(currentChat, chat)">
                              {{item.label}}
                            </button>
                          </mat-menu>
                        </div>
                        <div fxFlex>
                          <div *ngIf="currentChat.metadata.chatType === 'group'"
                               [fxLayoutAlign]="chat.uid.toString() === localUserInfo.userId.toString() ? 'end end' : 'start'">
                            {{chat.name}}
                          </div>
                          <div class="message-entity-item" (contextmenu)="contextMenuForMessage($event, createPlanMenuTrigger, span, chat)">
                            <div class="message-entity" #messageContainer>
                              <app-message-factory [chatMsg]="chat"></app-message-factory>
                            </div>
                            <span #createPlanMenuTrigger="matMenuTrigger" #span [matMenuTriggerFor]="contextmenu"></span>
                            <mat-menu #contextmenu="matMenu">
                              <button mat-menu-item *ngFor="let item of contextMenu"
                                      (click)="item.action(chat, messageContainer)">
                                {{item.label}}
                              </button>
                            </mat-menu>
                            <div *ngIf="chat.isOutgoing === false && chat.uid.toString() === localUserInfo.userId.toString()">
                              wait
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div fxFlex="50px" fxLayout="row" class="quote-area" *ngIf="quoteMessage">
          <div fxFlex="100" fxFlexFill>
            <div fxLayout="row" fxFlexFill>
              <div fxFlex="60px">
                <div fxFlexFill fxLayoutAlign="center center">
                  <button mat-icon-button (click)="clearSubscribeQuote()">
                    <mat-icon class="hover-icon">
                      <img [src]="closeCircleIcon" class="icon" alt="">
                      <img [src]="closeCircleActiveIcon" class="icon-active" alt="">
                    </mat-icon>
                  </button>
                </div>
              </div>
              <div fxFlex>
                <div fxLayout="column" fxFlexFill class="quote-area-text">
                  <div fxFlex="50" class="quote-title">{{quoteMessage.name || quoteMessage.uid}}</div>
                  <div fxFlex="50" class="quote-message">{{quoteMessage.text}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="row" (click)="cancelSelectMessage()">
          <!--文字输入区域-->
          <app-input-area fxFlex="100" (sendMessage)="pushMessageToPanel($event)" [currentChat]="currentChat"></app-input-area>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
