<mat-drawer-container fxFill autosize class="container">
  <mat-drawer #chattingAreaDrawer mode="over" position="end">
    <div fxFlex="280px" *ngIf="drawerContent.setting">
      <mat-card class="mat-elevation-z0 newWin" fxFlex="calc(100% - 30px)" *ngIf="currentChat">
        <!--判断是单聊还是群聊-->
        <!--单聊-->
        <app-chatting-setting [drawer]="chattingAreaDrawer"
                              *ngIf="currentChat.metadata.chatType === 'friend'"
                              [currentChat]="currentChat"></app-chatting-setting>
        <!--群聊-->
        <!--<app-group-chatting-setting [drawer]="chattingAreaDrawer"
                                    *ngIf="currentChat.metadata.chatType === 'group'"
                                    [currentChat]="currentChat"></app-group-chatting-setting>-->
          <app-group-info [drawer]="chattingAreaDrawer"
                                      *ngIf="currentChat.metadata.chatType === 'group'"
                                      [currentChat]="currentChat"></app-group-info>
      </mat-card>
    </div>
    <!--语音聊天 drawerContent.voice 不要删除  *ngIf="drawerContent.voice"-->
    <div fxFlex="280px" [fxShow]="drawerContent.voice">
      <mat-card class="mat-elevation-z0" *ngIf="currentChat">
        <!--<app-chatting-voice [drawer]="chattingAreaDrawer" #appChattingVoice [currentChat]="currentChat"></app-chatting-voice>-->
      </mat-card>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <ng-template [ngIf]="!currentChat">
      <div fxFlexFill fxLayoutAlign="center center">
        <empty-data></empty-data>
      </div>
    </ng-template>
    <div fxLayout="column" *ngIf="currentChat" fxFlexFill>
      <div fxLayout="column" fxFlex="60px" class="chatting-header border1px bottom">
        <div fxLayout="row" fxFlexFill [fxShow]="selectMessage">
          <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
            <div fxFlex="0 0 calc(100%-40px)">
              <div fxFlex fxLayoutGap="20px">
                <button mat-flat-button color="primary"
                        [disabled]="this.selectMessageList.length === 0"
                        (click)="transmitSelectMessage()">转发 {{selectMessageList.length}}</button>
                <button mat-flat-button color="primary"
                        [disabled]="this.selectMessageList.length === 0"
                        (click)="deleteSelectMessage()">删除 {{selectMessageList.length}}</button>
              </div>
              <div fxFlex fxLayoutAlign="end center">
                <button mat-button color="primary" (click)="cancelSelectMessage()">取消</button>
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="row" fxFlexFill [fxShow]="selectMessage === false">
          <div fxFlex="60">
            <div fxLayout="row" fxFlexFill>
              <div fxFlex="60px" fxLayoutAlign="center center">
                <img [src]="currentChat.alarmItem.avatar" mat-card-avatar alt="">
              </div>
              <div fxFlex="calc(100% - 60px)">
                <div fxLayout="column" fxLayoutAlign="center start" fxFlexFill>
                  <div fxFlex="40px" fxLayoutAlign="center center" style="width: 100%">
                    <div fxLayout="column" style="width: 100%">
                      <div fxFlex="22px" class="chatting-title">
                        {{currentChat.alarmItem.title}}
                      </div>
                      <div fxFlex="18px" class="chatting-subtitle" *ngIf="currentChatSubtitle">
                        {{currentChatSubtitle}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div fxFlex="40" fxLayoutAlign="end center" style="padding-right: 20px;">
            <div fxLayout="row" fxLayoutGap="1px">
              <button mat-icon-button (click)="searching = !searching">
                <mat-icon class="hover-icon">
                  <img class="icon" [src]="searchIcon" alt="">
                  <img class="icon-active" [src]="searchActiveIcon" alt="">
                </mat-icon>
              </button>
              <!--点击按钮：语音聊天-->
              <!--<button [fxShow]="currentChat.metadata.chatType === 'friend'" mat-icon-button (click)="openEndDrawer('voice', true);">-->
              <!--  <mat-icon class="hover-icon">-->
              <!--    <img class="icon" [src]="voiceIcon" alt="">-->
              <!--    <img class="icon-active" [src]="voiceActiveIcon" alt="">-->
              <!--  </mat-icon>-->
              <!--</button>-->
              <button mat-icon-button (click)="openEndDrawer('setting', true)">
                <mat-icon class="hover-icon">
                  <img class="icon" [src]="settingIcon" alt="">
                  <img class="icon-active" [src]="settingActiveIcon" alt="">
                </mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="searching === false" fxLayout="column" fxFlex="calc(100% - 60px)">
        <app-search-chatting fxFlexFill [chatting]="currentChat"></app-search-chatting>
      </div>
      <div *ngIf="searching === true" fxLayout="column" fxFlex="calc(100% - 60px)" class="chatting-body">
        <div *ngIf="group_tab_data.visible" [fxFlex]="showGroupTabs ? 100 : '49px'" class="group-tags-container">
          <div fxLayout="column" fxFill>
            <div fxFlex>
              <nav mat-tab-nav-bar fxLayout="row">
                <a fxFlex mat-tab-link (click)="showGroupTabs = false"> 聊天 </a>
                <a fxFlex mat-tab-link
                   *ngFor="let link of group_tab_data.list" [fxHide]="link.status != 1" (click)="tabLink = link.addressUrl; showGroupTabs = true; this.grouptabs.openLink(link.addressUrl);"> {{link.name}} </a>
              </nav>
            </div>
            <div fxFlex="100">
              <app-group-tabs [tabLink]="tabLink" #grouptabs></app-group-tabs>
            </div>
          </div>
        </div>
        <div fxFlex fxLayout="column" [fxHide]="showGroupTabs">
            <div class="down-arrow" [fxShow]="showDownArrow">
                <button mat-icon-button mat-raised-button (click)="scrollToBottom('auto')">
                    <mat-icon class="hover-icon">
                        <img [src]="downArrowIcon" class="icon" alt="">
                        <img [src]="downArrowActiveIcon" class="icon-active" alt="">
                    </mat-icon>
                </button>
            </div>
            <div *ngIf="groupData.gnotice.length > 0 && groupData.gnotice_visible == true" (click)="showTopWIn('notice')" class="moving-group-info mat-primary text hover-item">
                <img class="icon-tip" [src]="gNoticeTip" alt="">
                <div class="box">
                    <p class="animate {{groupData.gnotice_class}}">{{groupData.gnotice}}</p>
                </div>
                <img class="icon-delete" [src]="gNoticeDelete" alt="" (click)="this.groupData.gnotice_visible = false;">
            </div>
            <div *ngIf="groupData.gtopContent.length > 0 && groupData.gtopContent_visible === true" (click)="showTopWIn('topContent')" class="moving-group-info mat-primary text hover-item" style="background-color: #d9efff">
                <img class="icon-tip" [src]="gTopContentTip" alt="">
                <div class="box">
                    <p class="animate {{groupData.gtopContent_class}}" style="color:#0091ff">{{groupData.gtopContent}}</p>
                </div>
                <img class="icon-delete" [src]="gTopContentDelete" alt="" (click)="this.groupData.gtopContent_visible = false;">
            </div>
            <div fxFlex="20px" *ngIf="atMsg" class="at-me-sheet mat-primary text hover-item">
                <div fxFlexFill fxLayoutAlign="center center" (click)="gotoAt()">有人@我</div>
            </div>
          <div fxFlex id="chatting-panel" #chattingContainer>
            <mat-card class="mat-elevation-z0 transparent" fxFlex="100">
              <mat-card-content fxFlex="100">
                <div fxLayout="column" fxFlex="100" fxLayoutGap="20px" class="chatting-panel-container">
                  <div *ngIf="loadingMessage" class="loading-message" fxLayoutAlign="center end">
                    <mat-spinner [diameter]="20" [strokeWidth]="3" mode="indeterminate"></mat-spinner>
                  </div>
                  <div fxFlex="100" fxFill>
                    <app-virtual-scroll #virtualScroll>
                      <div fxLayout="row" class="virtual-scroll-item" *ngFor="let chat of cacheService.chatMsgEntityList"
                           (click)="selectMessage ? collectMessage(chat, msgCheckbox) : false"
                           [fxLayoutAlign]="chat.uid.toString() === localUserInfo.userId.toString() ? 'space-between' : 'start'">
                        <div [fxFlex]="selectMessage ? '35px' : '1px'" fxLayoutAlign="start center">
                          <div [fxShow]="selectMessage">
                            <mat-checkbox #msgCheckbox disableRipple color="primary" (change)="collectMessage(chat, msgCheckbox)"></mat-checkbox>
                          </div>
                        </div>
                        <div fxFlex="100" *ngIf="chat.msgType === 999">
                          <div fxLayoutAlign="center">
                            <app-message-factory [chatMsg]="chat"></app-message-factory>
                          </div>
                        </div>
                        <div fxFlex="65" fxFlex.sm="95"
                             *ngIf="chat.msgType !== 999"
                             [id]="'fp' + chat.fingerPrintOfProtocal"
                             [fxLayoutAlign]="chat.uid.toString() === localUserInfo.userId.toString() ? 'end' : 'start'">
                          <div fxLayout="column" class="message-container"
                               [fxLayoutAlign]="chat.uid.toString() === localUserInfo.userId.toString() ? 'end end' : 'start'">
                            <div class="message-time" style="{{currentChat.metadata.chatType === 'group'?'margin-right:50px;margin-left:50px':''}}">
                              {{chat.date | date}}
                            </div>
                            <!--[fxLayoutAlign]="chat.uid === localUserInfo.userId ? 'end' : 'start'"-->
                            <div [fxLayout]="chat.uid.toString() === localUserInfo.userId.toString() ? 'row-reverse' : 'row'" fxLayoutGap="10px">
                              <div fxFlex="40px" *ngIf="currentChat.metadata.chatType === 'group'" class="group-avatar">
                                <img (contextmenu)="contextMenuForAvatar($event, createPlanMenuTriggerAvatar, avatarSpan, chat)"
                                     [src]="chat.uh" mat-card-avatar alt="">
                                <!--增加头像上的右键功能-->
                                <span #createPlanMenuTriggerAvatar="matMenuTrigger" #avatarSpan [matMenuTriggerFor]="contextmenuForAvatar"></span>
                                <mat-menu #contextmenuForAvatar="matMenu">
                                  <button mat-menu-item *ngFor="let item of contextMenuAvatar"
                                          (click)="item.action(currentChat, chat)">
                                    {{item.label}}
                                  </button>
                                </mat-menu>
                              </div>
                              <div fxFlex>
                                <div *ngIf="currentChat.metadata.chatType === 'group'" class="nickName"
                                     [fxLayoutAlign]="chat.uid.toString() === localUserInfo.userId.toString() ? 'end end' : 'start'">
                                  {{chat.name}}
                                </div>
                                <div fxLayout="row" [fxLayoutAlign]="chat.uid.toString() === localUserInfo.userId.toString() ? 'end' : 'start'">
                                  <div class="message-entity-item" fxLayout="row" (contextmenu)="contextMenuForMessage($event, createPlanMenuTrigger, span, chat)">
                                    <div #messageContainer>
                                      <app-message-factory [chatMsg]="chat"></app-message-factory>
                                    </div>
                                    <span #createPlanMenuTrigger="matMenuTrigger" #span [matMenuTriggerFor]="contextmenu"></span>
                                    <mat-menu #contextmenu="matMenu">
                                      <button mat-menu-item *ngFor="let item of contextMenu"
                                              (click)="item.action(chat, messageContainer)">
                                        {{item.label}}
                                      </button>
                                    </mat-menu>
                                  </div>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="end" *ngIf="currentChat.metadata.chatType === 'friend'">
                                  <div class="message-status" [fxShow]="chat.uid.toString() === localUserInfo.userId.toString()">
                                    {{chat.xu_isRead_type === true ? '已读' : '未读'}}
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </app-virtual-scroll>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div fxFlex="50px" fxLayout="row" class="quote-area" *ngIf="quoteMessage">
            <div fxFlex="100" fxFlexFill>
              <div fxLayout="row" fxFlexFill>
                <div fxFlex="50px" style="margin-top: 10px">
                  <div fxFlexFill fxLayoutAlign="center center">
                    <button mat-icon-button (click)="clearSubscribeQuote()">
                      <mat-icon class="hover-icon">
                        <img [src]="closeCircleIcon" class="icon" alt="">
                        <img [src]="closeCircleActiveIcon" class="icon-active" alt="">
                      </mat-icon>
                    </button>
                  </div>
                </div>
                <div fxFlex>
                  <div fxLayout="row" class="quote-area-text">
                    <div fxFlex *ngIf="quoteMessageText.file" class="quote-area-preview">
                      <img *ngIf="quoteMessageText.type === 'image'" [src]="quoteMessageText.file.ossFilePath" alt="">
                      <video *ngIf="quoteMessageText.type === 'video'" [src]="quoteMessageText.file.ossFilePath"></video>
                    </div>
                    <div fxLayout="column" fxFlexFill>
                      <div fxFlex="50" class="quote-title">{{quoteMessage.name || quoteMessage.uid}}</div>
                      <div fxFlex="50" class="quote-message" *ngIf="quoteMessageText">
                        {{quoteMessageText.text}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div fxLayout="row" class="input-area-container" (click)="cancelSelectMessage()">
            <!--文字输入区域-->
            <div class="silence-overlay" *ngIf="mySilence">
              <div fxFill fxLayoutAlign="center center">
                <app-silence-count-down (silenceDone)="silenceDone($event)" [timestamp]="mySilence.banTime"></app-silence-count-down>
              </div>
            </div>
            <div class="silence-overlay"
                 *ngIf="!mySilence && talkIntervalSwitch && !isAdmin && !isOwner && talkIntervalMap.get(currentChat.alarmItem.dataId) > 0">
              <div fxFill fxLayoutAlign="center center" autofocus>
                <div fxLayout="row" style="width: 300px;" fxLayoutAlign="center center" fxLayoutGap="4px">
                  <div fxFlex="80px" style="text-align: right">发言间隔：</div>
                  <div style="text-align: left;">{{talkIntervalMap.get(currentChat.alarmItem.dataId)}} 秒</div>
                </div>
              </div>
            </div>
            <div class="silence-overlay" *ngIf="currentChat && currentChat.metadata.allSilence && !isAdmin && !isOwner">
              <div fxFill fxLayoutAlign="center center">
                全体禁言
              </div>
            </div>
            <div class="silence-overlay" *ngIf="blacked">
              <div fxFill fxLayoutAlign="center center">
                已被当前好友拉黑
              </div>
            </div>
            <app-input-area fxFlex="100" (sendMessage)="pushMessageToPanel($event)" [currentChat]="currentChat"></app-input-area>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
