#message-root-container {
  height: calc(100vh - 30px);
  overflow: hidden;

  #chatting-list {
    overflow-y: auto;
  }
}

#chatting-list {
  .mat-card-subtitle {
    margin-bottom: 0;
    color: #383838;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .chatting-hint {
    font-size: 12px;
    color: #888888;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 110px;
  }

  .chatting-action-button {
  }

  .message-badges {
    height: 16px;
    width: 16px;
    border-radius: 100%;
    background: #0091FF;
    font-size: 10px;
    color: white;
    text-align: center;
    line-height: 16px;
    overflow: hidden;
  }

  .mat-card {
    padding: 16px 20px;
  }

  .mat-card:hover {
    background: #DCF1FE !important;
  }

  .mat-card.active-chatting {
    background: #DCF1FE !important;
  }
}

.mat-badge-content{ transition: none; }
