<mat-drawer-container autosize>
  <mat-drawer #chattingSetting mode="side" position="end">
    <!--empty-->
  </mat-drawer>

  <div fxLayout="row" id="message-root-container">
    <div fxFlex="260px" fxLayout="column" fxLayoutGap="14px" class="border1px right">
      <div class="search-widget">
        <app-search-widget></app-search-widget>
      </div>
      <div id="chatting-list" class="scrollbar">
        <mat-card class="mat-elevation-z0"
                  [ngClass]="{'active-chatting': alarm.alarmItem.dataId === currentChat?.alarmItem.dataId}"
                  style="background: transparent;"
                  *ngFor="let alarm of alarmItemList" (click)="switchChat(alarm); chattingSetting.close();"
                  (contextmenu)="contextMenuForChatting($event, createPlanMenuTrigger, span, alarm)">
          <div fxLayout="row" fxLayoutGap="10px">
            <div fxFlex="40px">
              <img [src]="alarm.alarmItem.avatar" mat-card-avatar alt="">
            </div>
            <div fxFlex="calc(100% - 110px)">
              <div fxLayout="column">
                <div fxFlex="100">
                  <mat-card-subtitle>{{alarm.alarmItem.title}}</mat-card-subtitle>
                </div>
                <div fxFlex="100">
                  <div class="chatting-hint">{{alarm.alarmItem.msgContent}}</div>
                </div>
              </div>
            </div>
            <div fxFlex="70px" fxLayoutAlign="center">
              <div fxLayout="column" fxFlex="100">
                <div fxFlex="100" fxLayout="row">
                  <div style="font-size: 12px;">{{formatDate(alarm.alarmItem.date, 'M-d h:m')}}</div>
                </div>
                <div fxFlex="100" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end">
                  <div fxFlex="50">
                    <mat-icon class="chatting-action-button mini">
                      <img [src]="closePromptIcon" alt="">
                    </mat-icon>
                  </div>
                  <div fxFlex="50">
                    <div class="message-badges" [fxHide]="!alarm.metadata.unread">{{alarm.metadata.unread}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <span #createPlanMenuTrigger="matMenuTrigger" #span [matMenuTriggerFor]="contextmenu"></span>
          <mat-menu #contextmenu="matMenu">
            <button mat-menu-item *ngFor="let item of contextMenuChatting"
                    (click)="item.action(alarm, alarmItemList)">
              {{item.label}}
            </button>
          </mat-menu>
        </mat-card>
      </div>
    </div>
    <div fxFlex="calc(100% - 260px)">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
