<mat-drawer-container autosize>
  <mat-drawer #chattingSetting mode="side" position="end">
    <div fxFlex="280px">
      <mat-card class="mat-elevation-z0">
        Settings
      </mat-card>
    </div>
  </mat-drawer>

  <div fxLayout="row" style="height: calc(100vh - 30px)">
    <div fxFlex="334px" fxLayout="column" fxLayoutGap="14px" class="alarm-item-list">
      <div class="">
        <div fxLayout="row">
          <div fxFlex="calc(100% - 60px)">
            <div fxLayout="row" fxLayoutAlign="end center">
              <div fxFlex="0 0 calc(294px - 40px)">
                <input type="text" nz-input placeholder="Username" />
              </div>
            </div>
          </div>
          <div fxFlex="60px" fxLayoutAlign="center center">
            <div>
              <mat-icon style="width: 20px; height: 20px;">
                <img [src]="editIcon" alt="">
              </mat-icon>
            </div>
          </div>
        </div>
      </div>
      <div id="chatting-list">
        <mat-card class="mat-elevation-z0" style="background: #F1F1F1;"
                  *ngFor="let alarm of alarmItemList" (click)="switchChat(alarm)">
          <div fxLayout="row" fxLayoutGap="10px">
            <div fxFlex="40px" [matBadge]="massageBadges[alarm.dataId]" matBadgeColor="warn"
                 matBadgePosition="above after" matBadgeSize="small"
                 [matBadgeHidden]="massageBadges[alarm.dataId] === 0"
                 matBadgeOverlap="true">
              <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" mat-card-avatar alt="">
            </div>
            <div fxFlex="calc(100% - 200px)">
              <div fxLayout="column">
                <div fxFlex="100">
                  <mat-card-subtitle>{{alarm.title}}</mat-card-subtitle>
                </div>
                <div fxFlex="100">
                  <div class="chatting-hint">{{alarm.msgContent}}</div>
                </div>
              </div>
            </div>
            <div fxFlex="70px" fxLayoutAlign="center">
              <div fxLayout="column">
                <div fxFlex="100" fxLayout="row">
                  <div style="font-size: 12px;">{{formatDate(alarm.date, 'M-d h:m')}}</div>
                </div>
                <div fxFlex="100" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end">
                  <mat-icon class="chatting-action-button">volume_up</mat-icon>
                  <mat-icon class="chatting-action-button">volume_up</mat-icon>
                </div>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
    <div fxFlex="calc(100% - 334px)" fxLayout="column" *ngIf="currentChat">
      <div fxLayout="column" fxFlex="60px" class="chatting-header">
        <div fxLayout="row" fxFlexFill>
          <div fxFlex="60">
            <div fxLayout="row" fxFlexFill>
              <div fxFlex="60px" fxLayoutAlign="center center">
                <img [src]="currentChatAvatar" mat-card-avatar alt="">
              </div>
              <div fxFlex="calc(100% - 60px)">
                <div fxLayout="column" fxLayoutAlign="center start" fxFlexFill>
                  <div fxFlex="40px" fxLayoutAlign="center center" style="width: 100%">
                    <div fxLayout="column" style="width: 100%">
                      <div fxFlex="22px" class="chatting-title">
                        {{currentChat.title}}
                      </div>
                      <div fxFlex="18px" class="chatting-subtitle" *ngIf="currentChatSubtitle">
                        {{currentChatSubtitle}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div fxFlex="40" fxLayoutAlign="end center" style="padding-right: 20px;">
            <div fxLayout="row" fxLayoutGap="1px">
              <button mat-icon-button>
                <mat-icon class="hover-icon">
                  <img class="icon" [src]="searchIcon" alt="">
                  <img class="icon-active" [src]="searchActiveIcon" alt="">
                </mat-icon>
              </button>
              <button mat-icon-button>
                <mat-icon class="hover-icon">
                  <img class="icon" [src]="voiceIcon" alt="">
                  <img class="icon-active" [src]="voiceActiveIcon" alt="">
                </mat-icon>
              </button>
              <button mat-icon-button (click)="chattingSetting.toggle()">
                <mat-icon class="hover-icon">
                  <img class="icon" [src]="settingIcon" alt="">
                  <img class="icon-active" [src]="settingActiveIcon" alt="">
                </mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="column" fxFlex="calc(100% - 60px)" class="chatting-body">
        <div fxFlex="100" id="chatting-panel" style="overflow-y: scroll">
          <mat-card class="mat-elevation-z0" style="background: #F6F7F9;">
            <mat-card-content *ngIf="chatMsgEntityList">
              <div fxLayout="column" fxLayoutGap="20px" class="chatting-panel-container">
                <div fxLayout="row" *ngFor="let chat of chatMsgEntityList"
                     [fxLayoutAlign]="chat.uid === localUserInfo.user_uid ? 'end' : 'start'"
                     [ngClass]="{'self-message': chat.uid === localUserInfo.user_uid}">
                  <div fxFlex="65" [fxLayoutAlign]="chat.uid === localUserInfo.user_uid ? 'end' : 'start'">
                    <div fxLayout="column" class="message-container" fxLayoutGap="5px"
                         [fxLayoutAlign]="chat.uid === localUserInfo.user_uid ? 'end end' : 'start'">
                      <div class="message-time">
                        {{formatDate(chat.date, 'M-dd hh:m')}}
                      </div>
                      <!--[fxLayoutAlign]="chat.uid === localUserInfo.user_uid ? 'end' : 'start'"-->
                      <div class="message-entity-item" (contextmenu)="textMenuForMessage($event, createPlanMenuTrigger, span, chat)">
                        <div class="message-entity" #messageContainer>
                          <app-message-factory [chatMsg]="chat"></app-message-factory>
                        </div>
                        <span #createPlanMenuTrigger="matMenuTrigger" #span [matMenuTriggerFor]="contextmenu"></span>
                        <mat-menu #contextmenu="matMenu">
                          <button mat-menu-item *ngFor="let item of contextMenu"
                                  (click)="item.action(chat, messageContainer)">
                            {{item.label}}
                          </button>
                        </mat-menu>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div>
          <div fxLayout="row">
            <div fxFlex="60px" fxLayoutAlign="center center" style="background: rgba(0,0,0,.04)">
              <button mat-icon-button>
                <mat-icon class="hover-icon">
                  <img class="icon" [src]="attachmentIcon" alt="">
                  <img class="icon-active" [src]="attachmentActiveIcon" alt="">
                </mat-icon>
              </button>
            </div>
            <div fxFlex="calc(100% - 180px)">
              <mat-form-field appearance="fill" fxFlex="100">
                <textarea matInput cdkTextareaAutosize cdkAutosizeMaxRows="10" placeholder="发送消息"></textarea>
              </mat-form-field>
            </div>
            <div fxFlex="120px" fxLayoutAlign="center center" fxLayoutGap="10px" style="background: rgba(0,0,0,.04)">
              <button mat-icon-button>
                <mat-icon class="hover-icon">
                  <img class="icon" [src]="emojiIcon" alt="">
                  <img class="icon-active" [src]="emojiActiveIcon" alt="">
                </mat-icon>
              </button>
              <button mat-icon-button>
                <mat-icon class="hover-icon">
                  <img class="icon" [src]="sendIcon" alt="">
                  <img class="icon-active" [src]="sendActiveIcon" alt="">
                </mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div fxFlex="100" *ngIf="chatMsgEntityList.length < 1">
      <div fxLayout="column" fxFlexFill fxLayoutAlign="center center">
        <empty-data [dataCount]="chatMsgEntityList.length"></empty-data>
      </div>
    </div>
  </div>
</mat-drawer-container>
