<mat-drawer-container autosize>
  <mat-drawer #chattingSetting mode="side" position="end">
    <div fxFlex="280px">
      <mat-card class="mat-elevation-z0">
        Settings
      </mat-card>
    </div>
  </mat-drawer>

  <div fxLayout="row" style="height: calc(100vh - 30px)">
    <div fxFlex="334px" fxLayout="column" fxLayoutGap="14px" class="alarm-item-list">
      <div class="">
        <div fxLayout="row">
          <div fxFlex="calc(100% - 60px)">
            <div fxLayout="row" fxLayoutAlign="end center">
              <div fxFlex="0 0 calc(294px - 40px)">
                <input type="text" nz-input placeholder="Username" />
              </div>
            </div>
          </div>
          <div fxFlex="60px" fxLayoutAlign="center center">
            <div>
              <mat-icon style="width: 20px; height: 20px;">
                <img [src]="editIcon" alt="">
              </mat-icon>
            </div>
          </div>
        </div>
      </div>
      <div id="chatting-list">
        <mat-card class="mat-elevation-z0" style="background: #F1F1F1;"
                  *ngFor="let alarm of alarmItemList" (click)="switchChat(alarm)">
          <div fxLayout="row" fxLayoutGap="10px">
            <div fxFlex="40px" [matBadge]="massageBadges[alarm.dataId]" matBadgeColor="warn"
                 matBadgePosition="above after" matBadgeSize="small"
                 [matBadgeHidden]="massageBadges[alarm.dataId] === 0"
                 matBadgeOverlap="true">
              <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" mat-card-avatar alt="">
            </div>
            <div fxFlex="calc(100% - 200px)">
              <div fxLayout="column">
                <div fxFlex="100">
                  <mat-card-subtitle>{{alarm.title}}</mat-card-subtitle>
                </div>
                <div fxFlex="100">
                  <div class="chatting-hint">{{alarm.msgContent}}</div>
                </div>
              </div>
            </div>
            <div fxFlex="70px" fxLayoutAlign="center">
              <div fxLayout="column">
                <div fxFlex="100" fxLayout="row">
                  <div style="font-size: 12px;">{{formatDate(alarm.date, 'M-d h:m')}}</div>
                </div>
                <div fxFlex="100" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end">
                  <mat-icon class="chatting-action-button">volume_up</mat-icon>
                  <mat-icon class="chatting-action-button">volume_up</mat-icon>
                </div>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
    <div fxFlex="calc(100% - 334px)" fxLayout="column" *ngIf="currentChat">
      <div fxLayout="column" fxFlex="60px" class="chatting-header">
        <div fxLayout="row" fxFlexFill>
          <div fxFlex="60">
            <div fxLayout="row" fxFlexFill>
              <div fxFlex="60px" fxLayoutAlign="center center">
                <button mat-icon-button>
                  <mat-icon>face</mat-icon>
                </button>
              </div>
              <div fxFlex="calc(100% - 60px)">
                <div fxLayout="column" fxLayoutAlign="center start" fxFlexFill>
                  <div fxFlex="40px">
                    <div fxLayout="column">
                      <div fxFlex="22px">
                        {{currentChat.title}}
                      </div>
                      <div fxFlex="18px">
                        {{currentChat.date}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div fxFlex="40" fxLayoutAlign="end center" style="padding-right: 20px;">
            <div fxLayout="row" fxLayoutGap="1px">
              <button mat-icon-button>
                <mat-icon><img [src]="searchIcon" alt=""></mat-icon>
              </button>
              <button mat-icon-button>
                <mat-icon><img [src]="voiceIcon" alt=""></mat-icon>
              </button>
              <button mat-icon-button (click)="chattingSetting.toggle()">
                <mat-icon><img [src]="settingIcon" alt=""></mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="column" fxFlex="calc(100% - 60px)" class="chatting-body">
        <div fxFlex="100" id="chatting-panel" style="overflow-y: scroll">
          <mat-card class="mat-elevation-z0" style="background: #F6F7F9;">
            <mat-card-content *ngIf="chatMsgEntityList">
              <div fxLayout="column" fxLayoutGap="20px" class="chatting-panel-container">
                <div fxLayout="row" *ngFor="let chat of chatMsgEntityList"
                     [fxLayoutAlign]="chat.uid === localUserInfo.user_uid ? 'end' : 'start'"
                     [ngClass]="{'self-message': chat.uid === localUserInfo.user_uid}">
                  <div fxFlex="50" [fxLayoutAlign]="chat.uid === localUserInfo.user_uid ? 'end' : 'start'">
                    <div class="message-entity-item" (contextmenu)="textMenu($event, createPlanmenuTrigger, span)">
                      <app-message-factory [chatMsg]="chat"></app-message-factory>
                      <span #createPlanmenuTrigger="matMenuTrigger" #span [matMenuTriggerFor]="menu"></span>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item>Item 1</button>
                        <button mat-menu-item>Item 1</button>
                        <button mat-menu-item>Item 1</button>
                        <button mat-menu-item>Item 1</button>
                        <button mat-menu-item>Item 2</button>
                      </mat-menu>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div>
          <div fxLayout="row">
            <div fxFlex="60px" fxLayoutAlign="center center" style="background: rgba(0,0,0,.04)">
              <button mat-icon-button>
                <mat-icon><img [src]="attachmentIcon" alt=""></mat-icon>
              </button>
            </div>
            <div fxFlex="calc(100% - 180px)">
              <mat-form-field appearance="fill" fxFlex="100">
                <textarea matInput cdkTextareaAutosize cdkAutosizeMaxRows="10" placeholder="发送消息"></textarea>
              </mat-form-field>
            </div>
            <div fxFlex="120px" fxLayoutAlign="center center" fxLayoutGap="10px" style="background: rgba(0,0,0,.04)">
              <button mat-icon-button>
                <mat-icon><img [src]="emojiIcon" alt=""></mat-icon>
              </button>
              <button mat-icon-button>
                <mat-icon><img [src]="sendIcon" alt=""></mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-drawer-container>
