#message-root-container {
  height: calc(100vh - 30px);
  overflow: hidden;

  #chatting-list {
    overflow-y: auto;
  }
}

#chatting-list {
  .mat-card-subtitle {
    margin-bottom: 0;
    color: #383838;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 23px;
  }

  .chatting-hint {
    font-size: 12px;
    color: #888888;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 110px;
  }

  .chatting-action-button {
  }
.timev{font-size: 14px;text-align: right;color:#888; float: right;margin-right: 10px;}
  .message-badges {
    height: 14px;
    border-radius: 8px;
    margin-right: 10px;
    padding: 1px 5px;
    background: #0091FF;
    font-size: 10px;
    color: white;
    text-align: center;
    line-height: 14px;
    overflow: hidden;
    font-weight: 150;
    float: right;
  }

  .mat-card {
    padding: 9px 30px 8px 21px;
  }

  .mat-card:hover {
    background: #DCF1FE !important;
  }

  .mat-card.active-chatting {
    background: #DCF1FE !important;
  }

  .top {
    background: #DCF1FE;
  }
}

.mat-badge-content{ transition: none; }
