<div fxFlex="314px" fxLayout="column" fxLayoutGap="20px">
  <div fxFlex>
    <div mat-dialog-title>选择禁言时间</div>
  </div>
  <div fxFlex>
    <mat-radio-group [value]="durationTime" [(ngModel)]="durationTime" color="primary" fxLayoutGap="8px" fxLayout="column">
      <mat-radio-button class="silence-user-radio-item" *ngFor="let item of timeList" [value]="item.time">{{item.label}}</mat-radio-button>
    </mat-radio-group>
  </div>
  <div fxFlex>
    <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10">
      <button nz-button nzType="link" mat-dialog-close>取消</button>
      <button nz-button nzType="link" (click)="save()">保存</button>
    </div>
  </div>
</div>
