.message-textarea-container {
  background: #FFF;
  position: relative;

  .message-textarea {
    word-break: break-all;
    white-space: break-spaces;
    min-height: 20px;
    max-height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0 10px 13px 10px;
    font-size: 14px;
    outline: none;
    z-index: 10;
    ::ng-deep {
      img {
        margin: 0 2px;
        width: 18px;
        height: 18px;
        vertical-align: middle;
      }
    }
  }

  .message-text-placeholder {
    height: 20px;
    margin: 0 10px 13px 10px;
    position: absolute;
    font-size: 14px;
    color: #CCCCCC;
    left: 0;
    top: 0;
    z-index: 1;
  }
}


::ng-deep {
  img.at-mark-for-input {
    height: 16px !important;
  }
}

.at-select-area {
  max-height: 250px;
  overflow: hidden;
  .at-chip-filter {
    padding-bottom: 4px;
    input {
      text-align: center;
    }
  }
}

.at-chip-list {
  max-height: 200px;
  overflow: scroll;
  .mat-chip:focus {
    background-color: #dcf1fe;
  }
  mat-chip {
    margin: 0;
    background: #ffffff;
    border-radius: 0;
    height: 50px;

    ::ng-deep {
      .at-item-prefix {
        border-radius: 30px;
        box-shadow: none;
        height: 30px;
        width: 30px;
        line-height: 15px;
        text-align: center;
        .mat-button-wrapper {
          padding: 0;
        }
      }
    }
  }
}

.cancel-at-overlay {
  height: 10000px;
  position: absolute;
  width: 100%;
  background: rgb(0 0 0 / 2%);
  z-index: 99;
  top: -10000px;
}
