<div fxLayout="row" fxFlex="100">
  <div fxFlex="60px" fxLayoutAlign="center end" style="background: rgba(0,0,0,.04)">

    <mat-menu #attachmentMenu="matMenu">
      <button mat-menu-item>
        <app-upload-file showText="发送图片"
                         (getFileInfo)="getImageInfo($event)"
                         (fileUploaded)="imageUploaded($event)"></app-upload-file>
      </button>
      <button mat-menu-item>
        <app-upload-file showText="文件发送"></app-upload-file>
      </button>
      <button mat-menu-item>
        名片发送
      </button>
      <button mat-menu-item>
        截图
      </button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="attachmentMenu">
      <mat-icon class="hover-icon">
        <img class="icon" [src]="attachmentIcon" alt="">
        <img class="icon-active" [src]="attachmentActiveIcon" alt="">
      </mat-icon>
    </button>
  </div>
  <div fxFlex>
    <mat-form-field fxFlex="100" class="message-textarea" floatLabel="never">
      <textarea matInput cdkTextareaAutosize [(ngModel)]="messageText"
                (keydown.meta.enter)="doSend()"
                (keydown.control.enter)="doSend()"
                cdkAutosizeMaxRows="10" placeholder="发送消息"></textarea>
    </mat-form-field>
  </div>
  <div fxFlex="120px" fxLayoutAlign="center end" fxLayoutGap="10px" style="background: rgba(0,0,0,.04)">
    <button mat-icon-button>
      <mat-icon class="hover-icon">
        <img class="icon" [src]="emojiIcon" alt="">
        <img class="icon-active" [src]="emojiActiveIcon" alt="">
      </mat-icon>
    </button>
    <button mat-icon-button [disabled]="!messageText || messageText.length === 0" (click)="doSend()">
      <mat-icon class="hover-icon" *ngIf="!!messageText && messageText.trim().length > 0">
        <img class="icon" [src]="sendIcon" alt="">
        <img class="icon-active" [src]="sendActiveIcon" alt="">
      </mat-icon>
      <mat-icon class="hover-icon" *ngIf="!messageText || messageText.length === 0">
        <img class="icon" [src]="sendIcon" alt="">
        <img class="icon-active" [src]="sendIcon" alt="">
      </mat-icon>
    </button>
  </div>
</div>
