.user-card-container {
  width: 294px;
  padding: 10px;
  border-radius: 6px;
  background-color: #fff;

  .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
  }
}
