<mat-card class="mat-elevation-z0">
  <mat-card-content>
    <mat-card-title>新的朋友</mat-card-title>
  </mat-card-content>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let item of model_list" style="padding-top:10px;" class="hover-item">
        <img [src]="item.reqUserAvatar" mat-list-icon style="width:44px;height:44px;" />
        <div mat-line>{{item.reqUserNickname}}</div>
        <div mat-line>
          <span>{{item.reqDesc}}</span>
        </div>
        <mat-action-list>
          <div fxLayout="row" fxLayoutGap="8px" *ngIf="item.agree === null">
            <button mat-button (click)="refuse(item)" color="warn">拒绝</button>
            <button mat-button (click)="agree(item)" color="primary">同意</button>
          </div>
          <div fxLayout="row" fxLayoutGap="8px" *ngIf="item.agree === true">
            <div mat-card-subtitle>已经同意</div>
          </div>
          <div fxLayout="row" fxLayoutGap="8px" *ngIf="item.agree === false">
            <div mat-card-subtitle>已经拒绝</div>
          </div>
        </mat-action-list>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<div fxFlexFill [fxShow]="model_list.length === 0" fxLayoutAlign="center center">
  <empty-data [dataCount]="model_list.length" text="暂时没有好友请求"></empty-data>
</div>
