<!--文本消息-->
<ng-template [ngIf]="pureTextMessage">
  <div class="chat-text" [innerHTML]="chatMsg.text"></div>
</ng-template>
<!--非文本消息-->
<ng-template [ngIf]="pureTextMessage === false">
  <div fxLayout="column" fxLayoutGap="10px">
    <div class="quote-message" fxLayout="row" *ngIf="replyContentText">
      <div fxFlex="38px" class="quote-thumbnail" *ngIf="newChatMsg.fileName">
        <img [src]="newChatMsg.fileName" alt="">
      </div>
      <div fxFlex="38px" class="quote-thumbnail" *ngIf="replyContentData">
        <div *ngIf="replyContentData" fxLayoutAlign="center center" fxFlexFill class="filetype">
          <span *ngIf="replyContentData.fileName">
            .{{replyContentData.fileName.split('.').pop()}}
          </span>
        </div>
      </div>
      <div fxFlex class="quote-content">
        <div class="quote-title">
          {{newChatMsg.userName}}
        </div>
        <div class="quote-reply">
          <ng-template [ngIf]="replyContentText">
            {{replyContentText}}
          </ng-template>
          <ng-template [ngIf]="replyContentData">
            {{replyContentData.fileName}}
          </ng-template>
        </div>
      </div>
    </div>
    <div class="chat-text" *ngIf="newChatMsg.msg">{{parseNewMsg(newChatMsg.msg).msgContent}}</div>
    <ng-template [ngIf]="newChatMsg && newChatMsg.messages">
      <div class="multiple-message" (click)="showMultipleMessage()">
        <div class="mat-card-subtitle">{{newChatMsg.content}}</div>
        <p><mat-divider inset></mat-divider></p>
        <div *ngFor="let message of newChatMsg.messages">
          {{message.sendNicName}}: {{message.type === 0 ? message.text : messageType[message.type]}}
        </div>
      </div>
    </ng-template>
  </div>
</ng-template>
