.chat-text {
  font-size: 14px;
  font-weight: 400;
  color: #383838;
  word-break: break-word;
  ::ng-deep img {
    vertical-align: middle;
  }
}

.message-entity-item {
  position: relative;
  padding: 10px;
  background: white;
  width: fit-content;
  box-sizing: border-box;
  border-radius: 0px 6px 6px 6px;
  word-break: break-word;
  margin-top: 3px;
}
.self-message.message-entity-item {
  background: #CCE4FF;
  border-radius: 6px 0px 6px 6px;
  line-height: 22px;
}
