<mat-card class="mat-elevation-z0">
  <mat-card-content>
    <mat-card-title>黑名单</mat-card-title>
  </mat-card-content>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let item of blacklist" style="padding-top:10px;">
        <img src="{{item.userAvatarFileName}}" mat-list-icon style="width:44px;height:44px;"/>
        <div mat-line>{{item.nickname}}</div>
        <mat-divider></mat-divider>
        <mat-action-list>
          <button mat-list-item (click)="remove(item)" style="color:#50b3ff;">移除</button>
        </mat-action-list>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<div fxFlexFill [fxShow]="blacklist.length === 0" fxLayoutAlign="center center">
  <empty-data [dataCount]="blacklist.length"></empty-data>
</div>
