<mat-drawer #groupConfig position="end" fxFill>
    <div fxFlex="100">
        <app-group-chatting-setting [drawer]="groupConfig" [currentChat]="currentChat"></app-group-chatting-setting>
    </div>
</mat-drawer>

<div fxLayout="column" style="background: #F1F1F1;">
    <div fxFlex="100px">
        <mat-card class="mat-elevation-z0" fxLayoutAlign="stretch center" fxFlex="100" style="padding: 11px 16px;">
            <mat-card-content fxFlex="100">
                <div fxLayout="row">
                    <div fxFlex="130px" fxLayoutAlign="space-between center">
                        <mat-icon (click)="back()" class="hover-icon">
                            <img [src]="backspaceIcon" alt="" class="icon">
                            <img [src]="backspaceActiveIcon" alt="" class="icon-active">
                        </mat-icon>
                        <span>{{view_title_object[view_mode]}}</span>
                    </div>
                    <div fxFlex fxLayoutAlign="end center">
                        <mat-icon (click)="drawer.close()" class="hover-icon icon14">
                            <img [src]="closeIcon" alt="" class="icon">
                            <img [src]="closeActiveIcon" alt="" class="icon-active">
                        </mat-icon>
                    </div>
                </div>
                <div class="user-info-headimg">
                    <img class="img-head" [src]="currentChat.alarmItem.avatar"/>
                    <div class="status-bar">
                        <span>{{currentChat.alarmItem.title}}</span>
                        <span style="font-size:12px;">人数：{{groupData.gmemberCount}} 人</span>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="split-item"></div>
    <div fxFlex>
        <mat-card class="mat-elevation-z0" *ngIf="view_mode == 'switch_default'">
            <mat-card-content>
                <!--群基本信息编辑-->
                <div  fxLayout="column" fxLayoutGap="10px">
                    <div fxFlex fxLayoutAlign="space-between center" class="group-pointer" (click)="changeView('basic_info')">
                        <span class="privacy-item-text">当前群主</span>
                        <div style="display:flex;align-items:center;">
                            <span class="privacy-item-text">{{user_clu_info.groupOwnerName}}</span>
                            <mat-icon class="mat-icon-cus" style="text-align:right;">
                                <img [src]="arrowRightIcon" alt="" class="icon">
                            </mat-icon>
                        </div>
                    </div>

                    <div class="split-item"></div>

                    <div fxFlex fxLayoutAlign="space-between center">
                        <span class="privacy-item-text">信息编辑</span>
                    </div>
                    <div fxFlex fxLayoutAlign="space-between center" class="group-pointer" (click)="editGroupInfo('group_name')">
                        <span class="privacy-item-text">群组名称</span>
                        <mat-icon class="mat-icon-cus" style="text-align:right;">
                            <img [src]="arrowRightIcon" alt="" class="icon">
                        </mat-icon>
                    </div>
                    <div fxFlex fxLayoutAlign="space-between center" class="group-pointer" (click)="changeView('group_notice')">
                        <span class="privacy-item-text">群组公告</span>
                        <mat-icon class="mat-icon-cus" style="text-align:right;">
                            <img [src]="arrowRightIcon" alt="" class="icon">
                        </mat-icon>
                    </div>
                    <div fxFlex fxLayoutAlign="space-between center" class="group-pointer" (click)="editGroupInfo('group_nickname')">
                        <span class="privacy-item-text">群内昵称</span>
                        <mat-icon class="mat-icon-cus" style="text-align:right;">
                            <img [src]="arrowRightIcon" alt="" class="icon">
                        </mat-icon>
                    </div>

                    <div class="split-item"></div>

                    <div fxFlex fxLayoutAlign="space-between center">
                        <span class="privacy-item-text">群管理</span>
                    </div>
                    <div *ngIf="user_role != 'common'" fxFlex fxLayoutAlign="space-between center">
                        <span class="privacy-item-text">全体禁言</span>
                        <nz-switch [(ngModel)]="setting_data.gmute" (ngModelChange)="bySwitch('gmute')" nzSize="small"></nz-switch>
                    </div>
                    <div *ngIf="user_role != 'common'" fxFlex fxLayoutAlign="space-between center">
                        <span class="privacy-item-text">成员互相添加好友</span>
                        <nz-switch [(ngModel)]="setting_data.allowPrivateChat" (ngModelChange)="bySwitch('allowPrivateChat')" nzSize="small"></nz-switch>
                    </div>
                    <div fxFlex fxLayoutAlign="space-between center">
                        <span class="privacy-item-text">消息免打扰</span>
                        <nz-switch [(ngModel)]="setting_data.no_disturb" (ngModelChange)="bySwitch('no_disturb')" nzSize="small"></nz-switch>
                    </div>
                    <div fxFlex fxLayoutAlign="space-between center">
                        <span class="privacy-item-text">置顶聊天</span>
                        <nz-switch [(ngModel)]="setting_data.top_chat" (ngModelChange)="bySwitch('top_chat')" nzSize="small"></nz-switch>
                    </div>
                    <div *ngIf="user_role != 'common'" fxFlex fxLayoutAlign="space-between center">
                        <span class="privacy-item-text">普通成员邀请好友入群</span>
                        <nz-switch [(ngModel)]="setting_data.invite" (ngModelChange)="bySwitch('invite')" nzSize="small"></nz-switch>
                    </div>

                    <div class="split-item"></div>

                    <div *ngIf="user_role != 'common'" fxFlex fxLayoutAlign="space-between center" class="group-pointer" (click)="groupConfig.toggle()">
                        <span class="privacy-item-text">群配置</span>
                        <mat-icon class="mat-icon-cus" style="text-align:right;">
                            <img [src]="arrowRightIcon" alt="" class="icon">
                        </mat-icon>
                    </div>

                    <div *ngIf="user_role != 'common'" class="split-item"></div>

                    <div *ngIf="user_role != 'common' || setting_data.allowPrivateChat == true" fxFlex fxLayoutAlign="space-between center" class="group-pointer" (click)="changeView('manage_group_member')">
                        <span class="privacy-item-text">成员管理</span>
                        <mat-icon class="mat-icon-cus" style="text-align:right;">
                            <img [src]="arrowRightIcon" alt="" class="icon">
                        </mat-icon>
                    </div>
                    <div *ngIf="user_role != 'common' || setting_data.invite == true" fxFlex fxLayoutAlign="space-between center" class="group-pointer" (click)="inviteFriend()">
                        <span class="privacy-item-text">邀请好友</span>
                        <mat-icon class="mat-icon-cus" style="text-align:right;">
                            <img [src]="arrowRightIcon" alt="" class="icon">
                        </mat-icon>
                    </div>
                    <div *ngIf="user_role != 'common'" fxFlex fxLayoutAlign="space-between center" class="group-pointer" (click)="changeView('manage_group_admin')">
                        <span class="privacy-item-text">管理员管理</span>
                        <mat-icon class="mat-icon-cus" style="text-align:right;">
                            <img [src]="arrowRightIcon" alt="" class="icon">
                        </mat-icon>
                    </div>

                    <div *ngIf="user_role != 'common' || setting_data.allowPrivateChat == true  || setting_data.invite == true" class="split-item"></div>

                    <div *ngIf="user_role == 'owner'" fxFlex fxLayoutAlign="space-between center" class="group-pointer" (click)="chooseGroupPeople('transfer')">
                        <span class="privacy-item-text" style="color:#0b8eee;">转让本群</span>
                        <mat-icon class="mat-icon-cus" style="text-align:right;">
                            <img [src]="arrowRightIcon" alt="" class="icon">
                        </mat-icon>
                    </div>
                    <div *ngIf="user_role == 'owner'" fxFlex fxLayoutAlign="space-between center" class="group-pointer" (click)="dismissGroup()">
                        <span class="privacy-item-text" style="color:red;">解散本群</span>
                        <mat-icon class="mat-icon-cus" style="text-align:right;">
                            <img [src]="arrowRightIcon" alt="" class="icon">
                        </mat-icon>
                    </div>
                    <div *ngIf="user_role != 'owner'" fxFlex fxLayoutAlign="space-between center" class="group-pointer" (click)="exitGroup()">
                        <span class="privacy-item-text" style="color:red;">退出本群</span>
                        <mat-icon class="mat-icon-cus" style="text-align:right;">
                            <img [src]="arrowRightIcon" alt="" class="icon">
                        </mat-icon>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <!--基本信息-->
        <mat-card class="mat-elevation-z0" *ngIf="view_mode == 'basic_info'" style="padding:10px 0px 0px 0px">
            <mat-card-content>
                <div fxLayout="column" fxLayoutGap="10px">
                    <div fxFlex fxLayoutAlign="space-between center">
                        <span class="privacy-item-text">当前群主</span>
                        <span>{{user_clu_info.groupOwnerName}}</span>
                    </div>
                    <div fxFlex fxLayoutAlign="space-between center">
                        <span class="privacy-item-text">群内昵称</span>
                        <span>{{user_clu_info.showNickname}}</span>
                    </div>
                    <!--<div fxFlex fxLayoutAlign="space-between center">
                        <span class="privacy-item-text">群创建者</span>
                        <span>xxx</span>
                    </div>
                    <div fxFlex fxLayoutAlign="space-between center">
                        <span class="privacy-item-text">群创时间</span>
                        <span>{{groupData.createTime}}</span>
                    </div>-->
                </div>
            </mat-card-content>
        </mat-card>

        <!--群公告编辑-->
        <mat-card class="mat-elevation-z0" *ngIf="view_mode == 'group_notice'" style="padding:0px;">
            <mat-card-content>
                <div *ngIf="view_mode == 'group_notice'" fxLayout="column" fxLayoutGap="10px">
                    <div *ngIf="group_notice_view_mode == 'view'">
                        <div>
                            <p>{{setting_data.gnotice}}</p>
                        </div>
                        <div style="text-align:right;">
                            <button nz-button nzType="link" class="btnsave" (click)="editGroupNotice()">编辑</button>
                        </div>
                    </div>
                    <div *ngIf="group_notice_view_mode == 'edit'" class="edit-group-top">
                        <div class="martop1">
                            <textarea type="text" nz-input [(ngModel)]="setting_data.gnotice_temp" class="txtcom" placeholder="请输入群公告信息"></textarea>
                        </div>
                        <div class="martop2">
                            <button nz-button nzType="link" class="btncancel" (click)="cancelGroupNotice()">取消</button>
                            <button nz-button nzType="link" class="btnsave" (click)="saveGroupNotice()">保存</button>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <!--群成员管理-->
        <mat-card class="mat-elevation-z0" *ngIf="view_mode == 'manage_group_member'" style="padding:0px;">
            <mat-card-content>
                <div fxLayout="column" fxLayoutGap="10px">
                    <mat-list>
                        <mat-list-item *ngFor="let item of group_member_list" class="list-box">
                            <img src="{{item.userAvatarFileName}}" mat-list-icon style="width:44px;height:44px;" />
                            <div mat-line>{{item.showNickname}}</div>
                            <div mat-line>
                                <span *ngIf="item.userUid == this.groupData.gownerUserUid" class="role-group role-group-owner">群主</span>
                                <span *ngIf="item.userUid != this.groupData.gownerUserUid && item.isAdmin == 1" class="role-group role-group-admin">管理</span>
                                <span *ngIf="item.userUid != this.groupData.gownerUserUid && item.isAdmin == 0 && item.userUid == this.userinfo.userId" class="role-group role-group-self">本人</span>
                            </div>
                            <mat-divider></mat-divider>
                        </mat-list-item>
                    </mat-list>
                </div>
            </mat-card-content>
        </mat-card>

        <!--群管理员管理-->
        <mat-card class="mat-elevation-z0" *ngIf="view_mode == 'manage_group_admin'" style="padding:0px;">
            <mat-card-content>
                <div fxLayout="column" fxLayoutGap="10px">
                    <div style="margin-top:20px;"></div>
                    <div fxFlex fxLayoutAlign="space-between center" class="group-pointer" (click)="chooseGroupPeople('add_group_admin')">
                        <span class="privacy-item-text">添加管理员</span>
                        <mat-icon class="mat-icon-cus" style="text-align:right;">
                            <img [src]="arrowRightIcon" alt="" class="icon">
                        </mat-icon>
                    </div>
                    <div fxFlex fxLayoutAlign="space-between center" class="group-pointer" (click)="deleteGroupAdmin()">
                        <span class="privacy-item-text">删除管理员</span>
                        <mat-icon class="mat-icon-cus" style="text-align:right;">
                            <img [src]="arrowRightIcon" alt="" class="icon">
                        </mat-icon>
                    </div>
                    <mat-list>
                        <mat-list-item *ngFor="let item of group_admin_list" class="list-box">
                            <img src="{{item.userAvatarFileName}}" mat-list-icon style="width:44px;height:44px;" />
                            <div mat-line>{{item.nickname}}</div>
                            <mat-divider></mat-divider>
                        </mat-list-item>
                    </mat-list>
                    <div fxFlexFill [fxShow]="group_admin_list.length === 0" fxLayoutAlign="center center">
                        <empty-data [dataCount]="group_admin_list.length" text="暂无群管理员"></empty-data>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

    </div>
</div>
