.user-info-headimg{
    display:flex;
    margin-top:15px;

    .img-head{
        width:40px;
        height:40px;
        border-radius:40px;
        background-color:#e6e6e6;
    }

    .status-bar{
        display:flex;
        flex-direction:column;
        justify-content:center;
        margin-left:10px;
    }
}
.persons{
  font-size:12px; color:#CCC;
  padding-top: 2px;
  font-weight: 100;
}
.privacy-item-text {
  font-size: 14px;
  font-weight: 400;
  color: #383838;
  line-height: 32px;
}

.mat-icon-cus{
    img{
        width:12px;
        height:12px;
        position:relative;
        top:0;
    }
}

.group-pointer{
    cursor:pointer;
}
.groupFirst{
  padding-top: 15px;
}
.groupLast{
  padding-bottom:15px;
}
.whiteBar{
  height: 15px;
}

.split-item{
    background-color:rgb(241, 241, 241);
    height:10px;
    margin-left:-16px;
    margin-right:-16px;
}
.groupTips{
  padding:15px 20px 10px 20px; font-size: 12px; line-height: 18px;
  color: #686868;
  height:calc(100vh - 190px);
  font-family: PingFangSC;
  p{
    margin:0; padding:5px;
  }
}
.edit-group-top{
  padding:15px 20px 10px 20px; font-size: 12px; line-height: 18px;
  color: #686868;
  height:calc(100vh - 190px);
    .martop1{
        margin:0 0 0 0;
    }

    .martop2{
        margin:0 0 0 0;
        text-align:right;
    }

    .txtcom{
      padding:4px; font-size: 12px; line-height: 18px;
      color: #686868;
      border: none;
      height:100%;
      font-family: PingFangSC;
      border: 1px solid #CCC;
      box-shadow:none;
    }

    .btncancel{
        padding-left:0px;
        padding-right:0px;
    }

    .btnsave{
        padding-left:0px;
        padding-right:0px;
        margin-left:20px;
    }
}

.list-box{
    .mat-list-item-content{
        padding-left:0px;
        padding-right:0px;
    }
  .list-box{
    padding-left:0px
  }
}

.role-group{
    padding: 5px 10px;
    color:white;
    font-size:12px;
    border-radius:16px;
    display:inline-block;
}

.role-group-owner{
    background-color:#ffa701;
}

.role-group-admin{
    background-color:#b0c8db;
}

.role-group-self{
    background-color:#0090ff;
}
.groupMember{
  .list-box{
    border-bottom: 0;
  }
  .mat-list-icon{
    width:40px;
    height:40px;
    padding: 0;
    margin: 0;
  }
  .nickName{
    font-size: 14px;
  }
  .matLine{
    padding-left:0;
    margin: 0;
  }
  .role-group{
    width: 36px;
    height: 18px;
    line-height: 18px;
    border-radius: 10px;
    color: #FFF;
    font-size: 12px;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .role-group-owner{
    background-color: #fdab02;
  }
  .role-group-admin{
    background-color: #b2cbd8;
  }
  .role-group-self{
    background-color: #0091ff;
  }
}

::ng-deep {
  .groupInfo {
    overflow: hidden;
    .mat-elevation-z0 {
      margin-top: 0px;
    }
    .mat-card {
      padding: 0px 16px 0 16px
    }
  }
  .groupTips{
    .btnsave,.ant-btn,.ant-btn-link{
      padding: 0;
      width: 30px;
    }
  }
  .edit-group-top{
    .btnsave,.ant-btn,.ant-btn-link{
      padding: 0;
      width: 30px;
    }
  }

  .groupMember {
    .mat-divider {
      display: block;
      margin: 0;
      border-top-width: 0px;
      border-top-style: none;
    }
    .mat-list-base .mat-list-item.mat-2-line, .mat-list-base .mat-list-option.mat-2-line {
      height: 56px;
    }

  }
  .groupAdmin{
    border-bottom: 0px;
    .mat-list-base .mat-list-item.mat-list-item-with-avatar .mat-list-item-content .mat-list-text, .mat-list-base .mat-list-item.mat-list-option .mat-list-item-content .mat-list-text, .mat-list-base .mat-list-option.mat-list-item-with-avatar .mat-list-item-content .mat-list-text, .mat-list-base .mat-list-option.mat-list-option .mat-list-item-content .mat-list-text{
      padding-left:10px
    }
  }
}
