<div fxLayout="column" style="background: #F1F1F1;">
    <div fxFlex="100px">
        <mat-card class="mat-elevation-z0" fxLayoutAlign="stretch center" fxFlex="100" style="padding: 11px 16px;">
            <mat-card-content fxFlex="100">
                <div fxLayout="row">
                    <div fxFlex="130px" fxLayoutAlign="space-between center">
                        <mat-icon (click)="back()" class="hover-icon">
                            <img [src]="backspaceIcon" alt="" class="icon">
                            <img [src]="backspaceActiveIcon" alt="" class="icon-active">
                        </mat-icon>
                        <span>{{view_title_object[view_mode]}}</span>
                    </div>
                    <div fxFlex fxLayoutAlign="end center">
                        <mat-icon (click)="drawer.close()" class="hover-icon icon14">
                            <img [src]="closeIcon" alt="" class="icon">
                            <img [src]="closeActiveIcon" alt="" class="icon-active">
                        </mat-icon>
                    </div>
                </div>
                <div class="user-info-headimg">
                    <img class="img-head" [src]="currentChat.alarmItem.avatar"/>
                    <div class="status-bar">
                        <span>{{currentChat.alarmItem.title}}</span>
                        <span style="font-size:12px;">人数：{{groupData.gmemberCount}} 人</span>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="split-item"></div>
    <div fxFlex>
        <mat-card class="mat-elevation-z0" *ngIf="view_mode == 'switch_default'">
            <mat-card-content>
                <!--群基本信息编辑-->
                <div  fxLayout="column" fxLayoutGap="10px">
                    <div fxFlex fxLayoutAlign="space-between center" class="group-pointer" (click)="changeView('basic_info')">
                        <span class="privacy-item-text">基本信息</span>
                        <mat-icon class="mat-icon-cus" style="text-align:right;">
                            <img [src]="arrowRightIcon" alt="" class="icon">
                        </mat-icon>
                    </div>

                    <div class="split-item"></div>

                    <div fxFlex fxLayoutAlign="space-between center">
                        <span class="privacy-item-text">信息编辑</span>                        
                    </div>
                    <div fxFlex fxLayoutAlign="space-between center" class="group-pointer" (click)="editGroupInfo('group_name')">
                        <span class="privacy-item-text">群组名称</span>
                        <mat-icon class="mat-icon-cus" style="text-align:right;">
                            <img [src]="arrowRightIcon" alt="" class="icon">
                        </mat-icon>
                    </div>
                    <div fxFlex fxLayoutAlign="space-between center" class="group-pointer" (click)="changeView('group_tab')">
                        <span class="privacy-item-text">群组公告</span>
                        <mat-icon class="mat-icon-cus" style="text-align:right;">
                            <img [src]="arrowRightIcon" alt="" class="icon">
                        </mat-icon>
                    </div>
                    <div fxFlex fxLayoutAlign="space-between center" class="group-pointer" (click)="editGroupInfo('group_nickname')">
                        <span class="privacy-item-text">群内昵称</span>
                        <mat-icon class="mat-icon-cus" style="text-align:right;">
                            <img [src]="arrowRightIcon" alt="" class="icon">
                        </mat-icon>
                    </div>                    

                    <div class="split-item"></div>

                    <div fxFlex fxLayoutAlign="space-between center">
                        <span class="privacy-item-text">群管理</span>
                    </div>
                    <div fxFlex fxLayoutAlign="space-between center">
                        <span class="privacy-item-text">全体禁言</span>
                        <nz-switch [(ngModel)]="setting_data.gmute" (ngModelChange)="bySwitch('gmute')" nzSize="small"></nz-switch>
                    </div>
                    <div fxFlex fxLayoutAlign="space-between center">
                        <span class="privacy-item-text">成员互相添加好友</span>
                        <nz-switch [(ngModel)]="setting_data.revocationNotice" (ngModelChange)="bySwitch('revocationNotice')" nzSize="small"></nz-switch>
                    </div>
                    <div fxFlex fxLayoutAlign="space-between center">
                        <span class="privacy-item-text">消息免打扰</span>
                        <nz-switch [(ngModel)]="setting_data.kickNotice" (ngModelChange)="bySwitch('kickNotice')" nzSize="small"></nz-switch>
                    </div>
                    <div fxFlex fxLayoutAlign="space-between center">
                        <span class="privacy-item-text">置顶聊天</span>
                        <nz-switch [(ngModel)]="setting_data.kickNotice" (ngModelChange)="bySwitch('kickNotice')" nzSize="small"></nz-switch>
                    </div>
                    <div fxFlex fxLayoutAlign="space-between center">
                        <span class="privacy-item-text">普通成员邀请好友入群</span>
                        <nz-switch [(ngModel)]="setting_data.invite" (ngModelChange)="bySwitch('invite')" nzSize="small"></nz-switch>
                    </div>

                    <div class="split-item"></div>

                    <div fxFlex fxLayoutAlign="space-between center" class="group-pointer" (click)="changeView('customer_service')">
                        <span class="privacy-item-text">群配置</span>
                        <mat-icon class="mat-icon-cus" style="text-align:right;">
                            <img [src]="arrowRightIcon" alt="" class="icon">
                        </mat-icon>
                    </div>

                    <div class="split-item"></div>

                    <div fxFlex fxLayoutAlign="space-between center" class="group-pointer" (click)="changetalkInterval()">
                        <span class="privacy-item-text">成员管理</span>
                        <mat-icon class="mat-icon-cus" style="text-align:right;">
                            <img [src]="arrowRightIcon" alt="" class="icon">
                        </mat-icon>
                    </div>
                    <div fxFlex fxLayoutAlign="space-between center" class="group-pointer" (click)="changetalkInterval()">
                        <span class="privacy-item-text">邀请好友</span>
                        <mat-icon class="mat-icon-cus" style="text-align:right;">
                            <img [src]="arrowRightIcon" alt="" class="icon">
                        </mat-icon>
                    </div>
                    <div fxFlex fxLayoutAlign="space-between center" class="group-pointer" (click)="changetalkInterval()">
                        <span class="privacy-item-text">管理员管理</span>
                        <mat-icon class="mat-icon-cus" style="text-align:right;">
                            <img [src]="arrowRightIcon" alt="" class="icon">
                        </mat-icon>
                    </div>

                    <div class="split-item"></div>

                    <div fxFlex fxLayoutAlign="space-between center" class="group-pointer" (click)="changetalkInterval()">
                        <span class="privacy-item-text" style="color:#0b8eee;">转让本群</span>
                        <mat-icon class="mat-icon-cus" style="text-align:right;">
                            <img [src]="arrowRightIcon" alt="" class="icon">
                        </mat-icon>
                    </div>
                    <div fxFlex fxLayoutAlign="space-between center" class="group-pointer" (click)="dismissGroup()">
                        <span class="privacy-item-text" style="color:red;">解散本群</span>
                        <mat-icon class="mat-icon-cus" style="text-align:right;">
                            <img [src]="arrowRightIcon" alt="" class="icon">
                        </mat-icon>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <!--基本信息-->
        <mat-card class="mat-elevation-z0" *ngIf="view_mode == 'basic_info'" style="padding:10px 0px 0px 0px">
            <mat-card-content>
                <div fxLayout="column" fxLayoutGap="10px">
                    <div fxFlex fxLayoutAlign="space-between center">
                        <span class="privacy-item-text">当前群主</span>
                        <span>xxx</span>
                    </div>
                    <div fxFlex fxLayoutAlign="space-between center">
                        <span class="privacy-item-text">群内昵称</span>
                        <span>xxx</span>
                    </div>
                    <div fxFlex fxLayoutAlign="space-between center">
                        <span class="privacy-item-text">群创建者</span>
                        <span>xxx</span>
                    </div>
                    <div fxFlex fxLayoutAlign="space-between center">
                        <span class="privacy-item-text">群创时间</span>
                        <span>{{groupData.createTime}}</span>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <!--群客服配置-->
        <mat-card class="mat-elevation-z0" *ngIf="view_mode == 'customer_service'" style="padding:0px;">
            <mat-card-content>
                <div  fxLayout="column" fxLayoutGap="10px">
                    <mat-list>
                        <mat-list-item *ngFor="let item of customerServiceList" class="list-box">
                            <img src="{{item.avatar}}" mat-list-icon style="width:44px;height:44px;" />
                            <div mat-line>{{item.nickname}}</div>
                            <mat-divider></mat-divider>
                            <mat-action-list>
                                <nz-switch [(ngModel)]="item.status_switch" (ngModelChange)="bySwitchCustomer(item)" nzSize="small"></nz-switch>
                            </mat-action-list>
                        </mat-list-item>
                    </mat-list>
                </div>
            </mat-card-content>
        </mat-card>


        <!--群页签配置-->
        <mat-card class="mat-elevation-z0" *ngIf="view_mode == 'group_tab'" style="padding:0px;">
            <mat-card-content>
                <div  fxLayout="column" fxLayoutGap="10px">
                    <mat-list>
                        <mat-list-item *ngFor="let item of groupTabList" class="list-box">
                            <img src="{{item.imgUrl}}" mat-list-icon style="width:44px;height:44px;" />
                            <div mat-line>{{item.name}}</div>
                            <div mat-line>{{item.addressUrl}}</div>
                            <mat-divider></mat-divider>
                            <mat-action-list>
                                <nz-switch [(ngModel)]="item.status_switch" (ngModelChange)="bySwitchGroupTab(item)" nzSize="small"></nz-switch>
                            </mat-action-list>
                        </mat-list-item>
                    </mat-list>
                </div>
            </mat-card-content>
        </mat-card>

        <!--群上屏编辑-->
        <mat-card class="mat-elevation-z0" *ngIf="view_mode == 'group_top'" style="padding:0px;">
            <mat-card-content>
                <div *ngIf="view_mode == 'group_top'" fxLayout="column" fxLayoutGap="10px">
                    <div *ngIf="group_top_view_mode == 'view'">
                        <div>
                            <p>{{setting_data.gtopContent}}</p>
                        </div>
                        <div style="text-align:right;">
                            <button nz-button nzType="link" class="btnsave" (click)="editGroupTop()">编辑</button>
                        </div>
                    </div>
                    <div *ngIf="group_top_view_mode == 'edit'" class="edit-group-top">
                        <div class="martop1">
                            <textarea type="text" nz-input [(ngModel)]="setting_data.gtopContentTemp" class="txtcom" placeholder="请输入群上屏信息"></textarea>
                        </div>
                        <div class="martop2">
                            <button nz-button nzType="link" class="btncancel" (click)="cancelGroupTop()">取消</button>
                            <button nz-button nzType="link" class="btnsave" (click)="saveGroupTop()">保存</button>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
