.radio-item{
    display:flex;
    line-height:30px;

    .flex-1{
        flex:1;
    }
}

[nz-radio] {
    display: block;
    height: 32px;
    line-height: 32px;
    text-align:right;
    position:relative;
}

.title-time{
    position:absolute;
    left:0;
}


.demo-dialog-container{
    width:300px;

    .txt-border-none{
        border:none;
        outline:none;
        border-bottom:1px solid #d8d8d8;
    }

    .txt-border-none:focus{
        border:none;
        outline:none;
        border-bottom:1px solid #d8d8d8;
      border-radius: 0;
    }
}
