<div *ngIf="data.hasOwnProperty('one')">
    <div fxLayout="column" fxLayoutGap="20px">
        <div fxFlex><label>编辑联系人备注</label></div>
        <div fxFlex>
            <input type="text" nz-input [(ngModel)]="data.remark" class="txtcom" placeholder="请输入备注" />
        </div>
        <div fxFlex>
            <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10">
                <button nz-button nzType="link" class="btncancel" (click)="saveFriendRemark(false)" >取消</button>
                <button nz-button nzType="link" class="btnsave" (click)="saveFriendRemark(true)" >保存</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="data.hasOwnProperty('two')" style="width:250px;">
    <div fxLayout="column" fxLayoutGap="20px">
        <div fxFlex><label>选择发言时间间隔</label></div>
        <div>
            <div *ngFor="let item of internel_list" (click)="setInternel(item)" style="display:flex;cursor:pointer;margin:15px;">
                <label style="flex:1;cursor:pointer;">{{item}}秒</label>
                <img [src]="checkboxActiveIcon" *ngIf="data.talkInterval == item"/>
                <img [src]="checkboxIcon" *ngIf="data.talkInterval != item" />
            </div>
        </div>
        <div fxFlex>
            <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10">
                <button nz-button nzType="link" class="btncancel" (click)="savetalkInterval(false)">取消</button>
                <button nz-button nzType="link" class="btnsave" (click)="savetalkInterval(true)">确定</button>
            </div>
        </div>
    </div>
</div>
