<!--<ng-template [ngIf]="data.hasOwnProperty('one')">
  <form action="">

  </form>
</ng-template>

<ng-template [ngIf]="data.hasOwnProperty('two')">
  <form action="">

  </form>
</ng-template>

<ng-template [ngIf]="data.hasOwnProperty('three')">
  <form action="">

  </form>
</ng-template>-->

<div *ngIf="data.hasOwnProperty('one')">
    <div fxLayout="column" fxLayoutGap="20px">
        <div fxFlex><label>编辑联系人备注</label></div>
        <div fxFlex>
            <input type="text" nz-input [(ngModel)]="data.remark" class="txtcom" placeholder="请输入备注" />
        </div>
        <div fxFlex>
            <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10">
                <button nz-button nzType="link" class="btncancel" (click)="saveFriendRemark(false)" >取消</button>
                <button nz-button nzType="link" class="btnsave" (click)="saveFriendRemark(true)" >保存</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="data.hasOwnProperty('two')" style="width:200px;">
    <div fxLayout="column" fxLayoutGap="20px">
        <div fxFlex><label>选择发言时间间隔</label></div>
        <div fxFlex>
            <nz-radio-group [(ngModel)]="data.talkInterval">
                <div class="radio-item">
                    <label class="flex-1">3秒</label>
                    <label nz-radio nzValue="3"></label>
                </div>
                <div class="radio-item">
                    <label class="flex-1">5秒</label>
                    <label nz-radio nzValue="5"></label>
                </div>
                <div class="radio-item">
                    <label class="flex-1">10秒</label>
                    <label nz-radio nzValue="10"></label>
                </div>
                <div class="radio-item">
                    <label class="flex-1">15秒</label>
                    <label nz-radio nzValue="15"></label>
                </div>
                <div class="radio-item">
                    <label class="flex-1">20秒</label>
                    <label nz-radio nzValue="20"></label>
                </div>
                <div class="radio-item">
                    <label class="flex-1">30秒</label>
                    <label nz-radio nzValue="30"></label>
                </div>
                <div class="radio-item">
                    <label class="flex-1">60秒</label>
                    <label nz-radio nzValue="60"></label>
                </div>
                <div class="radio-item">
                    <label class="flex-1">120秒</label>
                    <label nz-radio nzValue="120"></label>
                </div>
            </nz-radio-group>
        </div>
        <div fxFlex>
            <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10">
                <button nz-button nzType="link" class="btncancel" (click)="savetalkInterval(false)">取消</button>
                <button nz-button nzType="link" class="btnsave" (click)="savetalkInterval(true)">保存</button>
            </div>
        </div>
    </div>
</div>
