<div fxLayout="column" style="background: #F1F1F1;">
    <!--<div fxFlex>
        <app-toolbar [visibilityActions]="false"></app-toolbar>
    </div>-->
    <div fxFlex="62px">
        <mat-card class="mat-elevation-z0" fxLayoutAlign="stretch center" fxFlex="100" style="padding: 11px 16px;">
            <mat-card-content fxFlex="100">
                <div fxLayout="row">
                    <div fxFlex="100px" fxLayoutAlign="space-between center">
                        <mat-icon (click)="drawer.close()" class="hover-icon">
                            <img [src]="backspaceIcon" alt="" class="icon">
                            <img [src]="backspaceActiveIcon" alt="" class="icon-active">
                        </mat-icon>
                        <span>群配置</span>
                    </div>
                    <div fxFlex fxLayoutAlign="end center">
                        <mat-icon (click)="drawer.close()" class="hover-icon icon14">
                            <img [src]="closeIcon" alt="" class="icon">
                            <img [src]="closeActiveIcon" alt="" class="icon-active">
                        </mat-icon>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex style="margin-top: 10px;">
        <mat-card class="mat-elevation-z0">
            <mat-card-content>
                <div fxLayout="column" fxLayoutGap="10px">
                    <div fxFlex fxLayoutAlign="space-between center">
                        <span class="privacy-item-text">启用专属客服</span>
                        <nz-switch [(ngModel)]="setting_data.customerServiceSwitch" (ngModelChange)="bySwitch('customerServiceSwitch')" nzSize="small"></nz-switch>
                    </div>
                    <div fxFlex fxLayoutAlign="space-between center">
                        <span class="privacy-item-text">客服</span>
                        <span>&gt;</span>
                    </div>

                    <div class="split-item"></div>

                    <div fxFlex fxLayoutAlign="space-between center">
                        <span class="privacy-item-text">启用群页签</span>
                        <nz-switch [(ngModel)]="setting_data.tabSwitch" (ngModelChange)="bySwitch('tabSwitch')" nzSize="small"></nz-switch>
                    </div>
                    <div fxFlex fxLayoutAlign="space-between center">
                        <span class="privacy-item-text">群页签设置</span>
                        <span>&gt;</span>
                    </div>

                    <div class="split-item"></div>

                    <div fxFlex fxLayoutAlign="space-between center">
                        <span class="privacy-item-text">启用群上屏编辑</span>
                        <nz-switch [(ngModel)]="setting_data.topContentSwitch" (ngModelChange)="bySwitch('topContentSwitch')" nzSize="small"></nz-switch>
                    </div>
                    <div fxFlex fxLayoutAlign="space-between center">
                        <span class="privacy-item-text">群上屏编辑</span>
                        <span>&gt;</span>
                    </div>

                    <div class="split-item"></div>

                    <div fxFlex fxLayoutAlign="space-between center">
                        <span class="privacy-item-text">允许普通成员接受禁言通知</span>
                        <nz-switch [(ngModel)]="setting_data.silenceNotice" (ngModelChange)="bySwitch('silenceNotice')" nzSize="small"></nz-switch>
                    </div>
                    <div fxFlex fxLayoutAlign="space-between center">
                        <span class="privacy-item-text">允许普通成员接受撤回通知</span>
                        <nz-switch [(ngModel)]="setting_data.revocationNotice" (ngModelChange)="bySwitch('revocationNotice')" nzSize="small"></nz-switch>
                    </div>
                    <div fxFlex fxLayoutAlign="space-between center">
                        <span class="privacy-item-text">允许普通成员接受退群通知</span>
                        <nz-switch [(ngModel)]="setting_data.kickNotice" (ngModelChange)="bySwitch('kickNotice')" nzSize="small"></nz-switch>
                    </div>

                    <div class="split-item"></div>

                    <div fxFlex fxLayoutAlign="space-between center">
                        <span class="privacy-item-text">发言间隔</span>
                        <nz-switch [(ngModel)]="setting_data.talkIntervalSwitch" (ngModelChange)="bySwitch('talkIntervalSwitch')" nzSize="small"></nz-switch>
                    </div>
                    <div fxFlex fxLayoutAlign="space-between center">
                        <span class="privacy-item-text">普通成员发言间隔</span>
                        <span>&gt;</span>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
