.collect {
  padding: 20px 0 16px 0;
}
.collectList{ padding-top: 10px;}

::ng-deep {
  .collect {
    mat-card-title{
      padding-left:16px
    }
    .mat-list-base {
      padding-top: 10px;
    }

    .mat-card-content mat-card{
      padding: 16px;
    }

    .mat-list-base .mat-list-item .mat-line:nth-child(n+2) {
      font-size: 12px;
      padding-top: 2px;
    }

    .mat-list-base .mat-list-item.mat-list-item-with-avatar .mat-list-item-content .mat-list-text, .mat-list-base .mat-list-item.mat-list-option .mat-list-item-content .mat-list-text, .mat-list-base .mat-list-option.mat-list-item-with-avatar .mat-list-item-content .mat-list-text, .mat-list-base .mat-list-option.mat-list-option .mat-list-item-content .mat-list-text {
      padding-left: 10px;
    }

    .mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
      padding: 0 16px 0 16px;
    }

    .mat-card>.mat-card-actions:last-child {
      margin-bottom: -16px;
      padding-bottom: 0;
    }
  }
}
