<mat-card class="mat-elevation-z0">
    <mat-card-content>
        <mat-list>
            <div mat-subheader style="color:#333333;">收藏</div>
            <mat-list-item *ngFor="let item of collectList" style="padding-top:10px;"
                           (contextmenu)="contextMenuForItem($event, createPlanMenuTriggerAvatar, avatarSpan, item)">
                <div mat-line *ngIf="item.type == 0">{{item.content}}</div>
                <div mat-line *ngIf="item.type == 16">[聊天记录]</div>
                <div mat-line style="margin-top:15px;">{{item.createTime}} {{item.nickname}}</div>
                <mat-divider></mat-divider>

                <span #createPlanMenuTriggerAvatar="matMenuTrigger" #avatarSpan [matMenuTriggerFor]="contextMenuTrigger"></span>
                <mat-menu #contextMenuTrigger="matMenu">
                    <button mat-menu-item *ngFor="let menuitem of contextMenu"
                            (click)="menuitem.action(item)">
                        {{menuitem.label}}
                    </button>
                </mat-menu>

            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>

<nz-modal [(nzVisible)]="show_modal" nzTitle="删除收藏" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
        <p>确认将此内容从收藏中删除？</p>
    </ng-container>
</nz-modal>

<!--<nz-list>
    <nz-list-item *ngFor="let item of collectList">
        <nz-skeleton *ngIf="!item" [nzAvatar]="true" [nzParagraph]="{ rows: 1 }"></nz-skeleton>
        <nz-list-item-meta [nzDescription]="item.content">
            <nz-list-item-meta-title>
                <a href="#">{{ item.createTime }}</a>
            </nz-list-item-meta-title>
        </nz-list-item-meta>
    </nz-list-item>
</nz-list>-->