<mat-card class="mat-elevation-z0">
    <mat-card-content>
        <mat-list>
            <div mat-subheader style="color:#333333;">收藏</div>
            <mat-list-item *ngFor="let item of collectList" style="padding-top:10px;"
                           (contextmenu)="contextMenuForItem($event, createPlanMenuTriggerAvatar, avatarSpan, item)">
                <div mat-line *ngIf="item.type == 0">{{item.content}}</div>
                <div mat-line *ngIf="item.type == 16">[聊天记录]</div>
                <div mat-line style="margin-top:15px;">{{item.createTime}} {{item.nickname}}</div>
                <mat-divider></mat-divider>

                <span #createPlanMenuTriggerAvatar="matMenuTrigger" #avatarSpan [matMenuTriggerFor]="contextMenuTrigger"></span>
                <mat-menu #contextMenuTrigger="matMenu">
                    <button mat-menu-item *ngFor="let menuitem of contextMenu"
                            (click)="menuitem.action(item)">
                        {{menuitem.label}}
                    </button>
                </mat-menu>

            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>

<div fxFlexFill [fxShow]="collectList.length === 0" fxLayoutAlign="center center">
  <empty-data [dataCount]="collectList.length" text="暂时没有任何收藏"></empty-data>
</div>
