<mat-card class="mat-elevation-z0">
  <mat-card-content>
    <h1 mat-card-title style="color:#333333;">收藏</h1>
    <div fxLayout="column" fxLayoutGap="20px">
      <div  *ngFor="let item of collectChatMsg">
        <mat-card class="mat-elevation-z0 hover-item light" (contextmenu)="contextMenuForItem($event, menuTrigge, collectSpan, item)">
          <mat-card-content>
            <div fxLayout="row">
              <div fxFlex="50">
                <app-message-factory [chatMsg]="item.chatMsg"></app-message-factory>
              </div>
            </div>
          </mat-card-content>
          <mat-card-content>
            <mat-card-subtitle>
              <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
                <div>{{item.collect.nickname}}</div>
                <div>{{item.collect.createTime}}</div>
              </div>
            </mat-card-subtitle>
          </mat-card-content>
          <mat-card-actions>
            <mat-divider inset></mat-divider>
          </mat-card-actions>
        </mat-card>
        <span #menuTrigge="matMenuTrigger" #collectSpan [matMenuTriggerFor]="contextMenuTrigger"></span>
        <mat-menu #contextMenuTrigger="matMenu">
          <button mat-menu-item *ngFor="let menuitem of contextMenu"
                  (click)="menuitem.action(item)">
            {{menuitem.label}}
          </button>
        </mat-menu>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<div fxFlexFill [fxShow]="collectList.length === 0" fxLayoutAlign="center center">
  <empty-data [dataCount]="collectList.length" text="暂时没有任何收藏"></empty-data>
</div>
