::ng-deep {
  .virtual-scroll-viewport {
    height: 100%;
    overflow-y: scroll;


    .virtual-scroll-item.offscreen {
      visibility: hidden !important;
      content-visibility: auto !important;
    }
    .virtual-scroll-item {
      contain-intrinsic-size: 100px 75px;
      align-self: center;
      justify-self: center;
    }

  }
}
