.account-panel-container {
  background: #F1F1F1;
  .account-panel-header {
    background: white;
    .account-panel-title {
      .title {
        margin: 0;
        font-size: 16px;
      }
      button.close-button {
        width: 30px;
        height: 30px;
        line-height: 30px;
      }
      .close-button .mat-icon, .close-button img {
        width: 14px;
        height: 14px;
      }
    }
  }
  .account-panel-body {
    background: white;
  }

  .user-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
  }
}

.user-setting-menu {
  margin-top: 12px;
  .user-setting-menu-item:hover {
    .icon {
      position: absolute;
      left: 0;
      visibility: hidden;
    }
    .icon-active {
      position: absolute;
      left: 0;
      visibility: visible;
    }
  }
}
::ng-deep {
  h3 {font-weight: normal;}
  .account-panel-header .mat-card{ padding: 16px 14px 16px 21px}
  .mat-drawer-container{background-color: #FFF}
  .small-title{margin-bottom: 15px}

  element.style {text-align: start;flex: 1 1 100%;box-sizing: border-box;max-width: 100%}
  .mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button{
    border-radius:0px;
  }
}
