<nz-upload
  nzListType="picture-card"
  [nzShowUploadList]="false"
  [nzBeforeUpload]="beforeUpload"
>
  <ng-container *ngIf="!showText">
    <div>
      <div class="ant-upload-text" alt="" [ngStyle]="defaultOptions.size">
        <img [src]="this.fileUrl || defaultOptions.icon">
        <div class="spinner">
          <mat-spinner [diameter]="20"
                       *ngIf="loading && this.defaultOptions.showProgress"
                       [strokeWidth]="3" mode="indeterminate"></mat-spinner>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="showText">
    <span>{{showText}}</span>
  </ng-container>
</nz-upload>
