<nz-upload
  nzListType="picture-card"
  [nzShowUploadList]="false"
  [nzBeforeUpload]="beforeUpload"
>
  <ng-container *ngIf="!fileUrl">
    <div>
      <div class="ant-upload-text">
        <img [src]="defaultOptions.icon" alt="" [ngStyle]="defaultOptions.size">
      </div>
      <mat-progress-bar *ngIf="loading && this.defaultOptions.showProgress" mode="indeterminate"></mat-progress-bar>
    </div>
  </ng-container>
  <img *ngIf="fileUrl" [src]="fileUrl" style="width: 100%"  alt=""/>
</nz-upload>
