<div fxLayout="column" class="red-bag-card" fxLayoutGap="5px" (click)="openRedBag()"
     [ngClass]="{statusNot1: redBag.status?.toString() !== '1'}">
  <div fxFlex>
    <div fxLayout="row" fxLayoutGap="15px">
      <div fxFlex="35px">
        <img [src]="redBagIcon" class="red-bag-img" alt="" style="width: 100%">
      </div>
      <div fxFlex>
        <div class="greetings">{{redBag.greetings}}</div>
        <div class="status-text">已领取</div>
      </div>
    </div>
  </div>
  <div fxFlex class="red-line">
    <mat-divider inset></mat-divider>
  </div>
  <div fxFlex class="red-bag-type">
    普通红包
  </div>
</div>
