@import "~ng-zorro-antd/input/style/index.min.css";

.filev{
  width:calc(100% - 40px);
  padding: 0px 0px 0px 10px;

  ::ng-deep{
    .mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button{
      min-width:0px;
      padding:0px;
      line-height: 14px;
    }
  }
}


.searchChatting{

  ::ng-deep{
    .ant-input:focus{
      box-shadow:none
    }
    .ant-input-affix-wrapper{
      box-shadow:none;
    }
    .mat-card{
      padding: 0px;
    }
    .mat-list-base .mat-list-item.mat-2-line, .mat-list-base .mat-list-option.mat-2-line{
      height: 56px;
      margin: 0px;
    }
    .mat-list-base .mat-list-item.mat-list-item-with-avatar .mat-list-item-content .mat-list-text, .mat-list-base .mat-list-item.mat-list-option .mat-list-item-content .mat-list-text, .mat-list-base .mat-list-option.mat-list-item-with-avatar .mat-list-item-content .mat-list-text, .mat-list-base .mat-list-option.mat-list-option .mat-list-item-content .mat-list-text{
      padding-left: 10px;
    }
    .imgv{
      width: 120px;
      height: 120px;
      margin: 14px 14px 0 0;
      float: left;
    }
    .imgv img{
      display: block;
      width: 100%;
      height: 100%;
      object-fit:cover
    }

    .mat-list-base .mat-list-item {
      font-size: 14px;
    }

    .mat-button-wrapper {
      font-size: 12px;
      color: #888;
    }
    .mat-list-base .mat-list-item .mat-divider, .mat-list-base .mat-list-option .mat-divider{
      display: none;
    }

    .mat-list-base .mat-list-item .file-card-container0{
      font-size: 14px;
      line-height: 22px;
    }

  }


}

