.mat-icon {
  width: 20px;
  height: 20px;
  line-height: 20px;
  img {
    width: 20px;
    height: 20px;
  }
}
.mat-icon {
  width: 16px;
  height: 16px;
  line-height: 16px;
  &.mini > img {
    width: 16px;
    height: 16px;
  }
}

// antd
.ant-message-notice-content {
  background: #D9EFFF;
  box-shadow: none;

  .ng-star-inserted {
    height: 17px;
    font-size: 12px;
    font-weight: 400;
    color: #0091FF;
    line-height: 17px;
  }
}

.hover-item {
  cursor: pointer;

  &:hover {
    background: #F1F1F1;
  }

  &.light:hover {
    background: #f5f5f5;
  }
}

.disable-hover {
  &:hover {
    background: inherit !important;
  }
}

// snack bar 剧中样式
body.center-snack-bar {
  .cdk-global-overlay-wrapper {
    align-items: center !important;

    .mat-snack-bar-container {
      background: #D9EFFF;
      color: #0091FF;
      box-shadow: none;
    }
  }
}

.mat-card-title {
  font-size: 16px;
  color: #383838;
}

.mat-dialog-title {
  font: 500 16px / 20px Roboto;
  letter-spacing: 0.0075em;
}
.confirmDiv{

}
