@import './themes/light-theme';
@import './global';
@import './scrollbar';

// antd
@import "~ng-zorro-antd/message/style/index.css";
@import "~ng-zorro-antd/switch/style/index.min.css";
@import "~ng-zorro-antd/select/style/index.min.css";
@import "~ng-zorro-antd/input/style/index.min.css";
@import "~ng-zorro-antd/button/style/index.min.css";
@import "~ng-zorro-antd/list/style/index.min.css";
@import "~ng-zorro-antd/modal/style/index.min.css";


/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  background: #f0f2f5;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  -webkit-user-select: none;
  user-select: none;
}

/* CAN (MUST) BE REMOVED ! Sample Global style */
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: url(./assets/background.jpg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */

  .title {
    color: white;
    margin: 0;
    padding: 50px 20px;
  }

  a {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ed3330;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;

    &:hover {
      background: #fff;
      color: #ed3330 !important;
      letter-spacing: 1px;
      -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
      transition: all 0.4s ease 0s;
    }
  }
}

// 设置icon hover样式
.hover-icon {
  cursor: pointer;
  position: relative;
  height: 20px !important;
  width: 20px !important;
  .icon {
    position: absolute;
    left: 0;
    visibility: visible;
  }
  .icon-active {
    position: absolute;
    left: 0;
    visibility: hidden;
  }
  &:hover {
    .icon {
      position: absolute;
      left: 0;
      visibility: hidden;
    }
    .icon-active {
      position: absolute;
      left: 0;
      visibility: visible;
    }
  }
}
.hover-icon.icon14 {
  height: 14px !important;
  width: 14px !important;
  .icon {
    height: 14px !important;
    width: 14px !important;
  }
  .icon-active {
    height: 14px !important;
    width: 14px !important;
  }
  &:hover {
    .icon {
      height: 14px !important;
      width: 14px !important;
    }
    .icon-active {
      height: 14px !important;
      width: 14px !important;
    }
  }
}

.small-title {
  font-size: 16px;
  color: #383838;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.transparent {
  background: transparent !important;
}

.border1px {
  &.top {
    border-top: solid #CCCCCC 1px;
  }
  &.left {
    border-left: solid #CCCCCC 1px;
  }
  &.right {
    border-right: solid #CCCCCC 1px;
  }
  &.bottom {
    border-bottom: solid #CCCCCC 1px;
  }
}
