@import './themes/light-theme';
@import './global';
@import './scrollbar';

// antd
@import "~ng-zorro-antd/message/style/index.css";
@import "~ng-zorro-antd/switch/style/index.min.css";
@import "~ng-zorro-antd/select/style/index.min.css";
@import "~ng-zorro-antd/input/style/index.min.css";
@import "~ng-zorro-antd/button/style/index.min.css";
@import "~ng-zorro-antd/list/style/index.min.css";
@import "~ng-zorro-antd/modal/style/index.min.css";


/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  background: #f0f2f5;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
* {
  outline: none;
}

img {
  -webkit-user-select: none;
  user-select: none;
}

// 设置icon hover样式
.hover-icon {
  cursor: pointer;
  position: relative;
  height: 20px !important;
  width: 20px !important;
  .icon {
    position: absolute;
    left: 0;
    visibility: visible;
  }
  .icon-active {
    position: absolute;
    left: 0;
    visibility: hidden;
  }
  &:hover {
    .icon {
      position: absolute;
      left: 0;
      visibility: hidden;
    }
    .icon-active {
      position: absolute;
      left: 0;
      visibility: visible;
    }
  }
}
.hover-icon.icon14 {
  height: 14px !important;
  width: 14px !important;
  .icon {
    height: 14px !important;
    width: 14px !important;
  }
  .icon-active {
    height: 14px !important;
    width: 14px !important;
  }
  &:hover {
    .icon {
      height: 14px !important;
      width: 14px !important;
    }
    .icon-active {
      height: 14px !important;
      width: 14px !important;
    }
  }
}

.hover-icon.icon54 {
  height: 60px !important;
  width: 60px !important;
  .icon {
    height: 60px !important;
    width: 60px !important;
  }
  .icon-active {
    height: 60px !important;
    width: 60px !important;
  }
  &:hover {
    .icon {
      height: 60px !important;
      width: 60px !important;
    }
    .icon-active {
      height: 60px !important;
      width: 60px !important;
    }
  }
}

.small-title {
  font-size: 16px;
  color: #383838;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.transparent {
  background: transparent !important;
}

.border1px {
  &.top {
    border-top: solid #CCCCCC 1px;
  }
  &.left {
    border-left: solid #CCCCCC 1px;
  }
  &.right {
    border-right: solid #CCCCCC 1px;
  }
  &.bottom {
    border-bottom: solid #CCCCCC 1px;
  }
}
