<div fxLayout="row" fxFlexFill>
  <div fxFlex="74px" style="background: #F6F7F9">
    <mat-card class="mat-elevation-z0" id="left-toolbar" style="padding: 16px 0px">
      <mat-card-content class="user-avatar"
                        fxLayoutAlign="center center">
        <span matBadge="0" matBadgeOverlap="true"
          matBadgePosition="below after" matBadgeSize="small" matBadgeColor="warn">
          <img mat-card-avatar (click)="drawer.toggle()" [src]="myAvatar" alt="">
        </span>
      </mat-card-content>
      <mat-card-content>
        <div fxLayout="column" fxLayoutGap="32px">
          <div fxFlex="100" *ngFor="let menu of leftMenu">
            <div style="cursor: pointer" [routerLink]="menu.router" (click)="switchRouter(menu)">
              <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="6px">
                <div>
                  <mat-icon style="width: 30px" [matBadge]="massageBadges.message" matBadgeColor="warn"
                            matBadgePosition="above after" matBadgeSize="small"
                            matBadgeOverlap="true"
                            [matBadgeHidden]="!menu.path || massageBadges[menu.path] === 0">
                    <img *ngIf="currentRouter.includes(menu.router)" class="left-icon" [src]="menu.iconActive"
                         (mouseleave)="menu.icon = menu.iconUnActive"
                         alt="">
                    <img *ngIf="!currentRouter.includes(menu.router)" class="left-icon" [src]="menu.icon"
                         (mouseenter)="menu.icon = menu.iconActive"
                         (mouseleave)="menu.icon = menu.iconUnActive"
                         alt="">
                  </mat-icon>
                </div>
                <div>{{menu.label}}</div>
              </div>
            </div>
          </div>
            <div fxFlex="100">
                <div style="cursor: pointer">
                    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="6px">
                        <div>
                            <mat-icon style="width: 30px">
                                <img *ngIf="leftMenuNet.isOnline == true" class="left-icon" [src]="leftMenuNet.iconActive" alt="">
                                <img *ngIf="leftMenuNet.isOnline == false" class="left-icon" [src]="leftMenuNet.iconUnActive"alt="">
                            </mat-icon>
                        </div>
                        <div style="font-size:10px;">{{leftMenuNet.isOnline == true ? '网络通畅' : '网络断开'}}</div>
                    </div>
                </div>
            </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="calc(100% - 74px)">
    <mat-drawer-container fxFlexFill autosize>
      <mat-drawer #drawer mode="over" style="width: 260px" disableClose>
        <app-account-panel [accountDrawer]="drawer"></app-account-panel>
      </mat-drawer>

      <div fxFlexFill>
        <app-toolbar></app-toolbar>
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-container>
  </div>
</div>
