<div fxLayout="column" class="my-signature-component">
    <div>
        <label>个性签名</label>
    </div>
    <div>
        <div class="martop1">
            <input type="text" nz-input [(ngModel)]="whatSUp" class="txtcom" placeholder="请输入昵称"/>
        </div>
        <div class="martop2">
            <button nz-button nzType="link" class="btncancel" mat-dialog-close>取消</button>
            <button nz-button nzType="link" class="btnsave" (click)="save()" mat-dialog-close>保存</button>
        </div>
    </div>
</div>
