<div class="selFriend" style="height: 580px;">
  <div fxLayout="column" fxFill>
    <div fxFlex="50px">
      <h1 mat-dialog-title>选择联系人</h1>
    </div>
    <div fxFlex="50px">
      <div fxLayout="row">
        <div fxFlex="20px"></div>
        <div fxFlex>
          <mat-form-field fxFlex="100">
            <mat-label>搜索...</mat-label>
            <input type="text" tabindex="-1" matInput  [(ngModel)]="filterFriend" />

          </mat-form-field>
        </div>
        <div fxFlex="20px"></div>
      </div>
    </div>
    <div fxFlex>
      <div style="height: 430px;clear: both" class="scrollbar">
        <mat-list class="friend-item-list">
          <mat-list-item *ngFor="let friend of friendList" [fxHide]="!friend.nickname.includes(filterFriend)" class="hover-item" (click)="select(friend)">
            <mat-icon mat-list-icon class="friend-avatar">
              <img [src]="friend.base64Avatar || friend.userAvatarFileName" alt="">
            </mat-icon>
            <div mat-line style="font-size:14px;padding-bottom: 3px">{{friend.nickname}}</div>
            <div mat-line *ngIf="!!friend.isOnline === true" style="color: #0091FF;font-size: 12px">[在线]</div>
            <div mat-line *ngIf="!!friend.isOnline === false" style="color: #CCCCCC; font-size: 12px">[离线]</div>
          </mat-list-item>
        </mat-list>
      </div>
      <mat-dialog-actions>
        <div fxFlex="100" fxLayoutAlign="end">
          <button mat-button tabindex="-1" color="primary" (click)="cancel()" style="margin-right:16px">取消</button>
        </div>
      </mat-dialog-actions>
    </div>
  </div>
</div>

