.search-container {
  position: relative;
  background: #f1f1f1;

  .search-area {
    width: 100%;
    height: calc(100vh - 70px);
    background: #fafafa;
    position: absolute;
    z-index: 10;
    top: 40px
  }
}
