<div class="search-container" fxLayout="row" fxLayoutAlign="center center">
  <div fxLayout="row" fxFlex="0 0 calc(100% - 40px)" fxLayoutGap="10px">
    <div fxFlex="auto" fxLayoutAlign="center center">
      <div fxLayout="row">
        <div fxFlex="0 0 calc(240px - 60px)">
          <input type="text" (keydown.escape)="cancelSearch()" [(ngModel)]="search"
                 (keyup.enter)="txtSearchChange($event)"
                 (ngModelChange)="searchContent()" nz-input placeholder="搜索"/>
        </div>
      </div>
    </div>
    <div fxFlex="40px" fxLayoutAlign="center center">
      <div>
        <button mat-icon-button [matMenuTriggerFor]="friendActions">
          <mat-icon>
            <img [src]="editIcon" alt="">
          </mat-icon>
        </button>
        <mat-menu #friendActions="matMenu">
          <button mat-menu-item (click)="searchFriend()">添加好友</button>
          <button mat-menu-item (click)="createGroup()">创建群聊</button>
        </mat-menu>
      </div>
    </div>
  </div>
  <div class="search-area" *ngIf="showResource">
    <div fxLayout="column">
      <div fxFlex>
        <div fxLayoutAlign="end">
          <div fxFlex="60px" fxLayoutAlign="center">
            <button mat-icon-button>
              <mat-icon class="hover-icon icon14" (click)="cancelSearch()">
                <img [src]="closeIcon" class="icon" alt="">
                <img [src]="closeActiveIcon" class="icon-active" alt="">
              </mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div fxFlex>
        <mat-card class="mat-elevation-z0">
          <mat-card-content>
            <mat-list>
              <div style="margin-bottom:15px;">联系人与对话</div>
              <mat-list-item class="hover-item" *ngFor="let item of find_friends" (click)="switchChatting(item)"
                             style="padding-top:10px;">
                <img src="{{item.avatar}}" mat-list-icon style="width:44px;height:44px;"/>
                <div mat-line>{{item.title}}</div>
                <div mat-line>
                  <span>{{item.msgContent}}</span>
                </div>
              </mat-list-item>
            </mat-list>

            <mat-list>
              <div style="margin-bottom:15px;">消息</div>
              <mat-list-item class="hover-item" *ngFor="let item of find_messages" (click)="switchChatting(item)"
                             style="padding-top:10px;">
                <img src="{{item.avatar}}" mat-list-icon style="width:44px;height:44px;"/>
                <div mat-line>{{item.title}}</div>
                <div mat-line>
                  <span>{{item.msgContent}}</span>
                </div>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
